@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot?g6cbco#iefix') format('embedded-opentype'),
       url('../fonts/icons.svg?g6cbco') format('svg'),
       url('../fonts/icons.woff?g6cbco') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"],
.slick-next:before,
.slick-prev:before,
.mfp-close:before,
.mfp-arrow-left:before,
.mfp-arrow-right:before,
.select2-selection__arrow:before,
.amount-form__control:before,
.filter--collapsible .filter__title:after,
.rating-stars__star:before,
.faq__question:after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  display: inline-block;
  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-360:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e901";
}
.icon-basket:before {
  content: "\e902";
}
.icon-calendar:before {
  content: "\e903";
}
.icon-chevron-down:before,
.select2-selection__arrow:before,
.filter--collapsible .filter__title:after,
.faq__question:after {
  content: "\e904";
}
.icon-chevron-left:before {
  content: "\e905";
}
.icon-chevron-right:before {
  content: "\e906";
}
.icon-chevron-up:before {
  content: "\e907";
}
.icon-clock:before {
  content: "\e908";
}
.icon-close:before,
.mfp-close:before {
  content: "\e909";
}
.icon-copy:before {
  content: "\e90a";
}
.icon-download:before {
  content: "\e90b";
}
.icon-facebook:before {
  content: "\e90c";
}
.icon-grid:before {
  content: "\e90d";
}
.icon-filter:before {
  content: "\e91f";
}
.icon-instagram:before {
  content: "\e90e";
}
.icon-mail:before {
  content: "\e90f";
}
.icon-marker:before {
  content: "\e910";
}
.icon-menu:before {
  content: "\e911";
}
.icon-minus:before {
  content: "\e912";
}
.icon-moimir:before {
  content: "\e913";
}
.icon-next:before,
.slick-next:before,
.mfp-arrow-right:before {
  content: "\e914";
}
.icon-phone:before {
  content: "\e915";
}
.icon-play:before {
  content: "\e916";
}
.icon-plus:before {
  content: "\e917";
}
.icon-prev:before,
.slick-prev:before,
.mfp-arrow-left:before {
  content: "\e918";
}
.icon-search:before {
  content: "\e919";
}
.icon-sorting:before {
  content: "\e920";
}
.icon-star:before {
  content: "\e91a";
}
.icon-star-fill:before {
  content: "\e91b";
}
.icon-user:before {
  content: "\e91c";
}
.icon-vkontakte:before {
  content: "\e91d";
}
.icon-world:before {
  content: "\e91e";
}