//
// Links
//

a {
    text-decoration: $link-decoration;
    color: $link-color;
    outline: 0;

    @include transition(all 0.2s ease-in-out);

    @include hover-focus {
        //color: $link-hover-color;
        //text-decoration: $link-hover-decoration;
    }
}

.link-muted {
    color: $link-hover-color;

    @include hover-focus {
        color: $link-color;
    }
}

.link-inherit {
    color: inherit;

    @include hover-focus {
        color: inherit;
    }
}

.link-underline {
    text-decoration: underline;

    @include hover-focus {
        text-decoration: underline;
    }
}

.link-noline {
    text-decoration: none;

    @include hover-focus {
        text-decoration: underline;
    }
}

.link-hidden {
    color: inherit;
    text-decoration: none;

    @include hover-focus {
        color: inherit;
        text-decoration: none;
    }
}