.theme {
    @each $key, $value in $theme-colors {
        &-#{$key} {
            @include setProperty('background-color', $value, 'bg');
            @include setProperty('color', $value, 'color');
        }
    }

    &-primary,
    &-base {
        .slick-dots {
            li {
                button {
                    &:before {
                        border-color: $white;
                    }
                }

                &.slick-active {
                    button {
                        &:before {
                            background-color: $white;
                        }
                    }
                }
            }
        }
    }

    &-primary {
        .section__title {
            color: $white;
        }

        .brand-card,
        .catalog-card,
        .item-card,
        .news-card {
            box-shadow: 0 6px 6px rgba($red-2, 0.75);
        }

        .slick-arrow {
            @include hover-focus {
                background-color: $base-color;
            }
        }
    }
}