// variables

// table of contents
//
// colors
// grid
// body
// links
// fonts
// components


@mixin _assert-ascending($map, $map-name) {
  $prev-key: null;
  $prev-num: null;
  @each $key, $num in $map {
    @if $prev-num == null {
      // do nothing
    } @else if not comparable($prev-num, $num) {
      @warn "potentially invalid value for #{$map-name}: this map must be in ascending order, but key '#{$key}' has value #{$num} whose unit makes it incomparable to #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    } @else if $prev-num >= $num {
      @warn "invalid value for #{$map-name}: this map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    }
    $prev-key: $key;
    $prev-num: $num;
  }
}


// replace `$search` with `$replace` in `$string`
// @author hugo giraudel
// @param {string} $string - initial string
// @param {string} $search - substring to replace
// @param {string} $replace ('') - new value
// @return {string} - updated string
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@mixin _assert-starts-at-zero($map) {
  $values: map-values($map);
  $first-value: nth($values, 1);
  @if $first-value != 0 {
    @warn "first breakpoint in `$grid-breakpoints` must start at 0, but starts at #{$first-value}.";
  }
}

@function getValue($map, $value, $fallback: null) {
    @if map-has-key($map, $value) {
        @return map-get($map, $value);
    } @else {
        @return $fallback;
    }
}

@mixin setProperty($property, $map, $value: $property) {
    @if map-has-key($map, $value) {
        #{$property}: getValue($map, $value);
    }
}

// colors
//
// grayscale and brand colors

$gray:     #f5f5f5 !default;
$gray-2:   #efefef !default;
$gray-3:   #eeeeee !default;
$gray-4:   #eae7e7 !default;
$gray-5:   #e5e5e5 !default;
$gray-6:   #d8d8d8 !default;
$gray-7:   #cecece !default;
$gray-8:   #b0b0b0 !default;
$gray-9:   #959595 !default;
$gray-10:  #8b8b8b !default;
$gray-11:  #414141 !default;
$gray-12:  #333333 !default;

$blue:     #e2e8eb !default;

$green:    #65bf46 !default;
$green-2:  #1c994e !default;

$pink:     #f3ebe9 !default;
$pink-2:   #d59c9f !default;

$red:      #af262c !default;
$red-2:    #9d141a !default;

$yellow:   #ff9d03 !default;
$yellow-2: #f7e415 !default;

$violet:   #6a26af !default;

$white:    #ffffff !default;

$black:    #000000 !default;

$base-color: $gray-12 !default;
$primary:    $red !default;
$success:    $green-2 !default;
$warning:    $yellow !default;

$colors: () !default;
$theme-colors: () !default;
$sticker-colors: () !default;

$colors: map-merge(
    (
        "base":     $base-color,
        "primary":  $primary,
        "success":  $success,
        "warning":  $warning,
    ),
    $colors
);

$theme-colors: map-merge(
    (
        "primary": (
            "bg": $primary,
            "color": $white,
        ),
        "base": (
            "bg": $base-color,
            "color": $white,
        ),
        "light": (
            "bg": $gray,
            "color": $base-color,
        ),
    ),
    $theme-colors
);

$sticker-colors: map-merge(
    (
        "hit": (
            "bg": $green
        ),
        "new": (
            "bg": $yellow
        ),
        "sale": (
            "bg": $primary,
        ),
    ),
    $sticker-colors
);

// grid breakpoints
//
// define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1230px,
  2xl: 1500px,
  3xl: 1680px,
  4xl: 1920px,
) !default;
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// grid containers
//
// define the maximum width of `.container` for different screen sizes.

$container-widths: (
  xs: 100%
) !default;
@include _assert-ascending($container-widths, "$container-widths");

$container-max-widths: (
    xl: 1230px,
) !default;
@include _assert-ascending($container-max-widths, "$container-max-widths");

$container-md-max-widths: (
    lg: 1030px,
) !default;
@include _assert-ascending($container-md-max-widths, "$container-md-max-widths");

$container-lg-max-widths: (
    2xl: 1500px,
) !default;
@include _assert-ascending($container-lg-max-widths, "$container-lg-max-widths");


// grid columns
//
// set the number of columns and specify the width of the gutters.
$grid-columns: 12 !default;
$gutter-xs: 20px !default;
$gutter-xl: 30px !default;

$grid-gutters: (
  xs: $gutter-xs,
  xl: $gutter-xl
) !default;
@include _assert-ascending($grid-gutters, "$grid-gutters");

$spacer:    4px;
$spacer-2:  $spacer * 2;  // 8px
$spacer-3:  $spacer * 3;  // 12px
$spacer-4:  $spacer * 4;  // 16px
$spacer-5:  $spacer * 5;  // 20px
$spacer-6:  $spacer * 6;  // 24px
$spacer-7:  $spacer * 7;  // 28px
$spacer-8:  $spacer * 8;  // 32px
$spacer-9:  $spacer * 9;  // 36px
$spacer-10: $spacer * 10; // 40px


// body
//
// settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $base-color !default;


// links
//
// style anchor elements.

$link-color: $primary !default;
$link-decoration: underline !default;
$link-hover-color: darken($link-color, 10%) !default;
$link-hover-decoration: inherit !default;

// typography
//
// font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: 'PT Sans', Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;
$font-family-headings: $font-family-sans-serif !default;

$font-weight-light:    300 !default;
$font-weight-normal:   400 !default;
$font-weight-medium:   500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold:     700 !default;
$font-weight-heavy:    800 !default;
$font-weight-black:    900 !default;

$font-size-html:       16px !default;

$font-size-base:       16px !default;
$font-size-xl:         24px !default;
$font-size-lg:         18px !default;
$font-size-md:         15px !default;
$font-size-sm:         14px !default;
$font-size-xs:         13px !default;
$font-size-2xs:        12px !default;

$line-height-base:     24.01px !default;
$line-height-xl:       32.01px !default;
$line-height-lg:       21.01px !default;
$line-height-md:       21.01px !default;
$line-height-sm:       21.01px !default;
$line-height-xs:       18.01px !default;
$line-height-2xs:      16.01px !default;

$font-size-h1:         35px !default;
$font-size-h2:         21px !default;
$font-size-h3:         18px !default;
$font-size-h4:         16px !default;
$font-size-h5:         16px !default;
$font-size-h6:         14px !default;

$line-height-h1:       40.01px !default;
$line-height-h2:       24.01px !default;
$line-height-h3:       21.01px !default;
$line-height-h4:       24.01px !default;
$line-height-h5:       24.01px !default;
$line-height-h6:       21.01px !default;


// Responsive font sizes
// breakpoint: ($font-size, $line-height, $font-weight, $margin-bottom),


$font-base: (
    xs: ($font-size-base, $line-height-base)
) !default;


$small-font-size: 80% !default;

$text-muted: $gray-9 !default;

// Border radius
//
//
$border-radius: 5px !default;
$border-radius-sm: 3px !default;
$border-radius-md: 10px !default;
$border-radius-lg: 20px !default;
$border-radius-xl: 100px !default;

// Buttons
//
//
$btn-font-family:   $font-family-base !default;
$btn-font-weight:   $font-weight-normal !default;
$btn-font-size:     $font-size-sm !default;
$btn-line-height:   $line-height-sm !default;
$btn-border-radius: $border-radius-xl !default;
$btn-border-width:  1px !default;
$btn-padding-x:     $font-size-sm !default;
$btn-padding-y:     0 !default;
$btn-height:        45px !default;
$btn-icon-size:     23px !default;

$btn-default-color: $white !default;
$btn-default-bg: $black !default;
$btn-default-bg-hover: $primary !default;
$btn-default-bg-active: $gray-11 !default;

$btn-primary-color: $white !default;
$btn-primary-bg: $primary !default;
$btn-primary-bg-hover: $btn-default-bg !default;
$btn-primary-bg-active: $gray-11 !default;

$btn-default-outline-color: $primary !default;
$btn-default-outline-border: $black !default;
$btn-default-outline-border-hover: $primary !default;
$btn-default-outline-border-active: $gray-11 !default;

$btn-disabled-bg: $gray-7 !default;
$btn-disabled-color: $gray-7 !default;

$btn-sizes: () !default;
$btn-themes: () !default;
$btn-themes-outline: () !default;

$btn-themes: map-merge(
    (
        "primary": (
            "color": $white,
            "bg": $primary,
            "border": $primary,
            "color-hover": $primary,
            "bg-hover": $white,
            "border-hover": $primary,
        ),
        "base": (
            "color": $white,
            "bg": $base-color,
            "border": $base-color,
            "color-hover": $white,
            "bg-hover": rgba($base-color, 0),
            "border-hover": $base-color,
        ),
        "outline-primary": (
            "color": $primary,
            "bg": $white,
            "border": $primary,
            "color-hover": $white,
            "bg-hover": $primary,
            "border-hover": $primary,
        ),
        "outline-base": (
            "color": $base-color,
            "bg": $white,
            "border": $base-color,
            "color-hover": $white,
            "bg-hover": $base-color,
            "border-hover": $base-color,
        ),
        "outline-white": (
            "color": $white,
            "bg": $primary,
            "border": $white,
            "color-hover": $primary,
            "bg-hover": $white,
            "border-hover": $white,
        ),
    ),
    $btn-themes
);


// Form
//
//
$input-color-placeholder: $gray-10 !default;

$input-height:            40px !default;
$input-font-size:         $font-size-sm !default;
$input-font-weight:       $font-weight-normal !default;
$input-font-family:       $font-family-base !default;
$input-line-height:       $line-height-sm !default;

$input-color:             $base-color !default;
$input-bg-color:          $white !default;
$input-border-color:      $gray-7 !default;
$input-border-width:      1px !default;
$input-border-radius:     $border-radius !default;

$input-padding-x:         $font-size-sm - $input-border-width !default;
$input-padding-x-icon:    41px !default;
$input-padding-y:         9px !default;

$input-bg-focus:          $input-bg-color !default;
$input-border-focus:      $input-border-color !default;
$input-color-focus:       $input-color !default;

$input-border-hover:      $gray-7 !default;

$input-disabled-color:    $input-color-placeholder !default;
$input-disabled-bg-color: $input-bg-color !default;
$input-disabled-border-color: $input-border-color !default;

$form-group-margin-bottom:    18px !default;

$cursor-disabled: not-allowed !default;


// Header
//
//
$header-height-xs:  110px !default;
$header-height-xl:  140px !default;
$header-height-2xl: 240px !default;


// Progress bars
//
//
$progress-height:                   10px !default;
$progress-bg:                       $gray-9 !default;
$progress-border-radius:            $progress-height !default;
$progress-bar-bg:                   $primary !default;
$progress-bar-animation-timing:     1s linear infinite !default;
$progress-bar-transition:           width .6s ease !default;
