<ul class="categories-menu">
  {% for item in nav.categories if item.top != false %}
    <li class="categories-menu__item">
      <a href="catalog{% if isSession %}-logged{% endif %}.html" class="categories-menu__link">
        {{ svg.icon(item.icon, 'categories-menu__icon') }}
        <span class="categories-menu__text">{{ item.name }}</span>
      </a>
    </li>
  {% endfor %}
</ul>