<footer class="footer theme-base">
  <div class="footer__container container container--lg">
    <div class="row justify-xl-between">
      <div class="footer__col footer__col--main col-xs-12 col-xl-3">
        <a href="/" class="footer__logo">
          <img src="/assets/img/logo-axent-group.svg" alt="{{ company.name }} logo" class="footer__logo-img">
        </a>

        <div class="hidden-lg-down" data-element="placeholder" data-id="footer-contacts" data-device="desktop"></div>

        <div class="hidden-lg-down" data-element="placeholder" data-id="footer-copyright" data-device="desktop"></div>
      </div>

      <div class="footer__col footer__col--menu col-xs-12 col-xl-4">
        <ul class="footer__menu">
          {% for item in nav.footer %}
            <li class="footer__menu-item">
              <a href="{{ item.link }}" class="footer__menu-link">{{ item.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-xs-12 hidden-xl-up" data-element="placeholder" data-id="footer-contacts" data-device="mobile">
        <div class="footer__contacts" data-block="movable-block" data-id="footer-contacts">
          <a href="{{ company.phone.link }}" class="footer__contact link-hidden">{{ company.phone.number }}</a>
          <a href="mailto:{{ company.email }}" class="footer__contact link-hidden">{{ company.email }}</a>
        </div>
      </div>

      <div class="footer__col footer__col--social col-xs-12 col-xl-2">
        <div class="footer__social social social--footer">
          <div class="social__label">Мы в соцсетях:</div>
          <ul class="social__list">
            {% for item in company.social %}
              <li class="social__item">
                <a href="#" class="social__link icon-{{ item.icon }}" title="{{ item.title }}"></a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="footer__col footer__col--form col-xs-12 col-xl-3">
        <form action="#" method="POST" novalidate="novalidate" class="footer__form form subscription-form theme-primary">
          <div class="subscription-form__body">
            <div class="subscription-form__title">Узнайте все последние новости!</div>
            <div class="form__group">
              <div class="form__field">
                <input type="email" id="subscription-email" class="form__input form__input--md" placeholder="Введите свой e-mail" required>
              </div>
            </div>

            <div class="form__group">
              <input type="submit" class="button button--outline-white button--block" value="Подписаться на новости">
            </div>

            <div class="form__note text-2xs">Подписываясь на рассылку, вы подтверждаете свое согласие с <a href="#" class="link-inherit">Условиями пользования</a> и <a href="#" class="link-inherit">Политикой конфиденциальности</a></div>
          </div>
        </form>
      </div>

      <div class="col-xs-12 hidden-xl-up" data-element="placeholder" data-id="footer-copyright" data-device="mobile">
        <div class="footer__copyright text-2xs" data-block="movable-block" data-id="footer-copyright">
          {{ company.copyright }}
        </div>
      </div>

    </div>

    <a href="#page-top" class="footer__button-top icon-arrow" data-scroll></a>
  </div>
</footer>