<header class="header" data-component="header">
  <div class="header__main">
    <div class="header__container container container--lg">
      <div class="header__row row row--lg align-items-xs-center justify-xs-between">
        <div class="header__col header__col--toggle col">
          <button class="header__nav-toggle hamburger hamburger--spin" type="button" data-element="mobile-menu-toggle">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>

        <div class="header__col header__col--logo col">
          <a href="/" class="header__logo">
            <img src="/assets/img/logo-axent-group.svg" alt="{{ company.name }} logo" class="header__logo-img">
          </a>
        </div>

        <div class="header__col header__col--contacts col hidden-lg-down" data-element="placeholder" data-id="header-contacts" data-device="desktop">
          <div class="header__contacts" data-block="movable-block" data-id="header-contacts">
            <a href="{{ company.phone.link }}" class="link-hidden">{{ company.phone.number }}</a>
            <a href="mailto:{{ company.email }}" class="link-hidden">{{ company.email }}</a>
          </div>
        </div>

        <div class="header__col header__col--search col">
          {% include '_search.twig' %}
        </div>

        <div class="header__col header__col--session col">
          {% include '_session-menu.twig' %}
          <i class="header__subnav-toggle icon-chevron-left" data-element="nav-close"></i>
        </div>

      </div>
    </div>
  </div>

  <div class="header__navbar">
    <div class="header__container container container--lg" data-element="placeholder" data-id="nav" data-device="desktop">
      {% include '_nav.twig' with { list: nav.main } %}
    </div>
  </div>

  <div class="header__categories theme-base">
    <div class="header__container container container--lg">
      {% include '_categories-menu.twig' %}
    </div>
  </div>

  {% include '_mobile-menu.twig' %}
</header> 