<div class="mobile-menu hidden-xl-up" data-component="mobile-menu">
  <button class="mobile-menu__close icon-close" type="button" data-element="mobile-menu-close"></button>
  <ul class="mobile-menu__nav" data-component="panel">
    {% for item in nav.main %}
      <li class="mobile-menu__nav-item">
        <a href="{{ item.link }}" class="mobile-menu__nav-link" data-element="panel-toggle">
          {{ item.name }}
          <i class="mobile-menu__nav-toggle icon-chevron-down"></i>
        </a>
        <ul class="mobile-menu__subnav" data-element="panel-content">
          {% for link in nav.subnav %}
            <li class="mobile-menu__subnav-item">
              <a href="{{ link.link }}" class="mobile-menu__subnav-link">
                {% if link.icon %}
                  <i class="mobile-menu__subnav-icon icon-{{ link.icon }}"></i>
                {% endif %}
                {{ link.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
    {% for item in quickMenu %}
      <li class="mobile-menu__nav-item">
        <a href="{{ item.link }}" class="mobile-menu__nav-link" data-element="panel-toggle">
          {{ item.name }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <a href="#modal-location" class="mobile-menu__location" data-element="modal-trigger">
    Ваш регион доставки: <span data-element="location-name">г. Екатеринбург</span>
  </a>
</div>