<div class="mini-cart" id="mini-cart" data-component="hidden-block">
  <div class="mini-cart__header">
    <div class="mini-cart__title text-lg">Корзина</div>
    <button class="mini-cart__close icon-close-thin" data-element="hidden-block-close"></button>
  </div>

  <div class="mini-cart__list">
    <div class="mini-cart__item mini-cart-item">
      <a href="catalog-item.html" class="mini-cart-item__picture">
        <img src="/assets/img/temp/fav-image.jpg" alt="" class="mini-cart-item__img">
      </a>

      <div class="mini-cart-item__content">
        <div class="mini-cart-item__title">
          <a href="#" class="mini-cart-item__brand link-inherit link-noline">Michael Kors</a> / 
          <a href="#" class="mini-cart-item__item link-inherit link-noline">Юбка</a>
        </div>
        <div class="mini-cart-item__option">XS</div>
      </div>

      <div class="mini-cart-item__price h5 text-muted text-right">10 000 ₽</div>
    </div>
  </div>

  <div class="mini-cart__total">
    <div class="mini-cart__total-label">Итого:</div>
    <div class="mini-cart__total-amount">1 шт</div>
    <div class="mini-cart__total-sum h5 text-muted text-right">10 000 ₽</div>
  </div>

  <div class="mini-cart__footer text-right">
    <a href="order.html" class="mini-cart__button button button--default button--sm">Оформить заказ</a>
  </div>
</div>