<div class="mobile-menu" data-component="mobile-menu">
  <div class="mobile-menu__nav" data-element="placeholder" data-id="nav" data-device="mobile"></div>

  <div class="mobile-menu__footer">
    <ul class="session-menu">
      {% if isSession %}
        <li class="session-menu__item">
          <a href="account.html" class="session-menu__link">
            <i class="session-menu__icon icon-user"></i>
            <span class="session-menu__text">Перейти в личный кабинет</span>
          </a>
        </li>

        {% else %}

        <li class="session-menu__item">
          <a href="account-login.html" class="session-menu__link">
            <i class="session-menu__icon icon-user"></i>
            <span class="session-menu__text">Личный кабинет</span>
          </a>
        </li>
      {% endif %}
    </ul>
    <div data-element="placeholder" data-id="header-contacts" data-device="mobile"></div>
  </div>
</div>