<ul class="header__nav nav" data-block="movable-block" data-id="nav" data-component="nav">
  {% for item in list %}
    <li class="nav__item {% if item.class %} {{ item.class }} {% endif %}" data-element="nav-item">
      <a href="{{ item.link }}" class="nav__link" {% if item.subnav %}data-element="nav-toggle"{% endif %}>
        {% if item.icon %}
          <i class="nav__icon icon-{{ item.icon }}"></i>
        {% endif %}
        <span class="nav__text">{{ item.name }}</span>
        {% if item.subnav %}
          <i class="nav__toggle-icon icon-chevron-right"></i>
        {% endif %}
      </a>
      {% if item.subnav %}
        {% include '_subnav.twig' %}
      {% endif %}
    </li>
  {% endfor %}
</ul>