<div class="header__search search">
  <form class="search__form form search-form {% if searchActive %}is-active{% endif %}" data-component="search">
    <div class="form__group">
      <div class="form__field form__field--icon-right">
        <input type="text" class="form__input form__input--sm" placeholder="Введите название товара" data-element="search-input" {% if searchVal %}value="{{ searchVal }}"{% endif %}>
        <i class="form__field-icon icon-search" data-element="search-icon"></i>
        <i class="form__field-icon icon-close" data-element="search-clear"></i>
      </div>
    </div>

    <div class="search__results">
      {% for i in 1..2 %}
        <div class="search__results-item search-card">
          <a href="catalog-item.html" class="search-card__picture">
            <img src="/assets/img/temp/catalog/items/1.png" alt="" class="search-card__img">
          </a>

          <div class="search-card__body">
            <div class="search-card__price">25 900 ₽</div>
            <div class="search-card__title">
              <a href="catalog-item.html" class="search-card__title-link">Карандаши акварельные Albrecht Durer Faber-Castell</a>
            </div>

            <div class="search-card__info">Арт. 123456789</div>
          </div>

          <div class="search-card__footer">
            <div class="search-card__amount-form amount-form" data-component="amount-form">
              <button class="amount-form__control icon-minus" data-element="dec-control" type="button"></button>
              <input type="text" class="amount-form__input form__input" value="1" data-element="amount-input" data-min="1">
              <button class="amount-form__control icon-plus" data-element="inc-control" type="button"></button>
            </div>

            <button class="search-card__button button button--outline-primary" title="Купить"><i class="button__icon icon-basket"></i></button>
          </div>
        </div>
      {% endfor %}
    </div>
  </form>
</div>