<ul class="header__session-menu session-menu">
  {% if isSession %}
    <li class="session-menu__item">
      <a href="account.html" class="session-menu__link">
        <i class="session-menu__icon icon-user"></i>
        <span class="session-menu__text session-menu__text--name">Здравствуйте, Кристина</span>
      </a>
    </li>
    <li class="session-menu__item">
      <a href="cart.html" class="session-menu__link">
        <i class="session-menu__icon icon-basket"></i>
        <span class="session-menu__text text-nowrap">0 товаров на 0 ₽</span>
      </a>
    </li>

    {% else %}

    <li class="session-menu__item">
      <a href="account-login.html" class="session-menu__link">
        <i class="session-menu__icon icon-user"></i>
        <span class="session-menu__text">Личный кабинет</span>
      </a>
    </li>
  {% endif %}
</ul>