<div class="nav__subnav subnav" data-component="accordion">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-xl-3 hidden-xl-up">
        <div class="subnav__title">
          <a href="catalog.html" class="subnav__title-link">Все товары</a>
        </div>
      </div>

      {% for section in item.subnav %}
        <div class="col-xs-12 col-xl-3 is-collapsed" data-element="accordion-item">
          <div class="subnav__title">
            <a href="catalog.html" class="subnav__title-link" data-element="accordion-toggle">{{ section.title }}</a>
          </div>
          <ul class="subnav__list" data-element="accordion-content">
            {% for link in section.list %}
              <li class="subnav__item">
                <a href="catalog.html" class="subnav__link">{{ link }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
</div>