{% extends 'layout/_base.twig' %}

{% set pageTitle = 'О компании' %}

{% block content %}

  <div class="heading hidden-lg-down">
    <div class="heading__container container">
      <div class="heading__breadcrumb breadcrumb">
        <ul class="breadcrumb__list">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section intro">
    <div class="intro__container container">
      <div class="row">
        <div class="intro__body col-xs-12 col-xl-7">
          <h1 class="intro__title text-primary">{{ pageTitle }}</h1>
          <p>Компания «Акцент Груп» — дистрибьютор качественных европейских товаров для школы и офиса.</p>
          <p>В арсенале компании три известные немецкие торговые марки: KITE (модные современные рюкзаки, ранцы, сумки, пеналы, эмоциональные канцелярские товары для школы и молодежи), GoPack (школьные ранцы и молодежные рюкзаки средней ценовой категории), Axent (стильные и оригинальные канцтовары для офиса).</p>
          <p>Компания несет ответственность за каждый свой шаг, заботится о клиентах и следит за неизменным уровнем качества продукции. Плодотворное, взаимовыгодное сотрудничество позволяет развиваться как нам, так и нашим клиентам. Наши традиционно сильные стороны — это качество товара, доступная цена, востребованность на рынке и широкий ассортимент.</p>
          <p>Наша миссия — сделать качественные европейские канцтовары и текстиль доступными для российского потребителя, поэтому мы работаем только напрямую с производителями. И предоставляем возможность ведения эффективного долгосрочного и надежного бизнеса своим партнерам.</p>
        </div>

        <div class="intro__picture-col col-xs-12 col-xl-5">
          <div class="intro__picture">
            <img src="/assets/img/temp/intro.jpg" alt="" class="intro__img">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section values">
    <div class="values__container container">
      <h2 class="section__title h1">Ценности компании</h2>

      <ul class="values__list row row--compact">
        {% for item in values %}
          <li class="values__item value col-xs-12 col-md-6 col-lg-4">
            <div class="value__picture">
              {{ svg.icon(item.icon, 'value__icon') }}
            </div>

            <div class="value__content">
              <h3 class="value__title">{{ item.title }}</h3>
              <p class="value__text">{{ item.text }}</p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="section brands theme-primary">
    <div class="container">
      <h2 class="section__title h1">Бренды</h2>

      <div class="section__slider section__slider--desktop" data-slider="slider-desktop">
        {% for item in brands %}
          <div class="section__slide slick-slide">
            {% include 'partials/_brand-card.twig' %}
          </div>
        {% endfor %}
      </div>

    </div>

    <img src="/assets/img/logo-axent-group-2.svg" alt="Axent Group" class="section__logo">
  </div>

  <div class="section hidden-lg-down">
    <div class="container">
      <img src="/assets/img/temp/screen.jpg" alt="Axent Group Screen" class="section__img">
    </div>
  </div>

  <form action="#" class="section cover feedback-form">
    <div class="container">
      <h2 class="section__title h1">У вас остались вопросы?</h2>
      <div class="feedback-form__body">
        <p class="feedback-form__description">Оставьте свои контактные данные и  наши специалисты окажут вам помощь в подборе товара или оформлении заказа, а также ответят на все интересующие вас вопросы.</p>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form__group">
              <div class="form__field">
                <input type="text" id="feedback-name" class="form__input" placeholder="Введите ваше имя">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="form__group is-required">
              <div class="form__field">
                <input type="email" id="feedback-email" class="form__input" placeholder="Введите свой e-mail" required>
              </div>
            </div>
          </div>
        </div>

        <div class="form__submit">
          <input type="submit" class="button button--primary" value="Отправить">
        </div>

        <p class="form__note">Нажимая на&nbsp;кнопку “Отправить”, вы даете согласие на&nbsp;обработку ваших персональных данных в&nbsp;соответствии с&nbsp;Федеральным законом №152-ФЗ “О&nbsp;персональных данных”</p>
      </div>

    </div>
    <img src="/assets/img/temp/form-cover.jpg" alt="" class="cover__bg-img">
  </form>

{% endblock %}

{% block modals %}
{% endblock %}