{% extends 'layout/_base.twig' %}

{% set pageTitle = 'О бренде Kite' %}

{% block content %}

  <div class="heading hidden-lg-down">
    <div class="heading__container container">
      <div class="heading__breadcrumb breadcrumb">
        <ul class="breadcrumb__list">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section brand article">
    <div class="container">
      <div class="brand__headline">
        <h1 class="brand__headline-title">{{ pageTitle }}</h1>
        <img src="/assets/img/temp/brands/kite.png" alt="Бренд Kite" class="brand__headline-logo">
        <picture class="brand__headline-img">
          <source media="(min-width: 1024px)" srcset="/assets/img/temp/brand/banner.png">
          <source media="(min-width: 320px)" srcset="/assets/img/temp/brand/banner-mobile.png">
          <img src="/assets/img/temp/brand/banner.png" alt="">
        </picture>
      </div>

      <div class="brand__body text-block">
        <div class="brand__intro row align-items-lg-center">
          <div class="brand__intro-content col-xs-12 col-lg-6">
            <h4>KITE — немецкий бренд рюкзаков и канцтоваров.</h4>
            <p>Высококачественные, безопасные, продуманные до мелочей анатомические рюкзаки Kite для младших школьников, стильные городские рюкзаки для молодежи, качественные эмоциональные канцтовары для школы и творчества уже завоевали признание среди покупателей в 20 странах мира.</p>

            <ul class="brand__links">
              <li class="brand__links-item"><i class="brand__links-icon icon-world"></i>Официальный сайт: <a href="#" class="brand__url link-noline">www.mykite.com.ru</a></li>
              <li class="brand__links-item"><i class="brand__links-icon icon-facebook"></i><a href="#" class="link-noline">Facebook</a> бренда</li>
              <li class="brand__links-item"><i class="brand__links-icon icon-vkontakte"></i><a href="#" class="link-noline">Vkontakte</a> бренда</li>
              <li class="brand__links-item"><i class="brand__links-icon icon-instagram"></i><a href="#" class="link-noline">Instagram</a> бренда</li>
            </ul>
          </div>
          <div class="brand__intro-picture col-xs-12 col-lg-6">
            <img src="/assets/img/temp/brand/1.jpg" alt="" class="brand__intro-img">
          </div>
        </div>

        <div class="brand__content">
          <div class="brand__section">
            <div class="brand__text">
              <h4 class="hidden-lg-down">Kite представляет текстильную коллекцию по группам:</h4>
              <h5>Cерия KIDS</h5>
              <p>легкие рюкзаки с интересными игровыми дизайнами для самых маленьких, а также внешкольные рюкзаки. Примерив «взрослый» аксессуар, ребенок может ощутить себя более самостоятельным, организованным. Собираясь в детский сад или группу раннего развития, Ваш малыш охотно доверит рюкзаку Kite свои самые ценные вещи. Кроме того, дошкольный рюкзак Kite – это еще одна любимая игрушка ребенка, с которой он не захочет расставаться</p>
            </div>
            <img src="/assets/img/temp/brand/kids.jpg" alt="" class="brand__img">
          </div>

          <div class="brand__section">
            <div class="brand__text">
              <h5>Cерия Education</h5>
              <p>рюкзаки с анатомическими спинками, разработанные с учетом возрастных особенностей детей и требований безопасности;</p>
              <p>Современные каркасные, полукаркасные и мягкие рюкзаки Education учитывают все особенности использования младшими школьниками. Все модели оснащены анатомическими системами Ergo Kids, Ergo Teens или Air Comfort с регулируемыми лямками правильной S-образной формы. Такая конструкция равномерно распределяет нагрузку на спину и плечи Вашего ребенка. Удобные отделения, внутренние разделители и органайзеры позволяют легко разместить необходимые школьные принадлежности. Качественные материалы и фурнитура позволяют сохранить внешний вид и функциональность длительное время</p>
              <p>Подростковые рюкзаки Education teens сочетают в себе функциональность рюкзака для учебы и атрибуты стильного аксессуара. Для них характерны мягкие формы, ортопедические спинки, продуманное внутреннее пространство с органайзерами, яркие дизайны для юношей и девушек 13-17 лет. Разнообразие форм, принтов и декора в аксессуарах этой серии предоставляет возможность каждому подростку выбрать стильный рюкзак, близкий по настроению.</p>
            </div>
            <img src="/assets/img/temp/brand/education.jpg" alt="" class="brand__img">
          </div>

          <div class="brand__section">
            <img src="/assets/img/temp/brand/city.jpg" alt="" class="brand__img">
            <div class="brand__text">
              <h5>Cерия City</h5>
              <p>трендовые молодежные и взрослые рюкзаки для активного образа жизни, командировок и повседневного использования. Для городских рюкзаков и других аксессуаров этой серии характерны прочные фактурные ткани, облегченная конструкция и ультрамодные дизайны, которые позволяют выделиться в толпе.</p>
            </div>
          </div>
        </div>

        <div class="brand__section">
          <h5>Канцелярия Kite</h5>
          <p>Канцелярские принадлежности – не просто необходимость в процессе обучения, но и составляющая гармоничного развития каждого ребенка. Канцтовары Kite созданы с учётом особенностей использования их детьми. Благодаря высокому немецкому качеству продукция Kite безопасна, эргономична и долговечна. <br>Яркие красочные продуманные упаковки выделяют товар на полке магазина, превращая процесс покупки в радостное событие. <br>Ассортимент Kite позволяет полностью «экипировать» школьника всем необходимым и включает не только канцтовары для учёбы и творчества, но и дополнительные аксессуары для комфортной школьной жизни: ланчбоксы, термосы, бутылочки для воды, др. <br>Компания «Акцент Груп» является эксклюзивным представителем TM Kite на территории России.</p>
          <p>В ассортименте торговой марки Kite представлены следующие группы товаров:</p>
          <ul>
            <li><a href="#">Рюкзаки</a></li>
            <li><a href="#">Сумки</a></li>
            <li><a href="#">Пеналы</a></li>
            <li><a href="#">Кошельки</a></li>
            <li><a href="#">Зонты</a></li>
            <li><a href="#">Канцтовары</a></li>
            <li><a href="#">Аксессуары</a></li>
          </ul>
        </div>
      </div>

      <div class="article__footer">
        <div class="article__share">
          Поделиться в соцсетях:
          {% include 'partials/_social-list.twig' with { socialClass: 'article__share-social social--md' } %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block modals %}
{% endblock %}