{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Наименование товара' %}
{% set bodyClass = 'is-session' %}
{% set isSession = true %}

{% block content %}

  <div class="heading">
    <div class="heading__container container">
      <div class="heading__breadcrumb breadcrumb">
        <ul class="breadcrumb__list">
          <li class="breadcrumb__item hidden-md-down"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item hidden-md-down"><a href="catalog.html" class="breadcrumb__link">Текстиль</a></li>
          <li class="breadcrumb__item"><a href="catalog.html" class="breadcrumb__link">Kite</a></li>
          <li class="breadcrumb__item"><a href="catalog.html" class="breadcrumb__link">Рюкзаки</a></li>
          <li class="breadcrumb__item hidden-md-down"><a href="catalog.html" class="breadcrumb__link">Рюкзаки City</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>

        <a href="#" class="breadcrumb__back-link hidden-lg-up icon-chevron-left" title="Назад"></a>
      </div>
    </div>
  </div>

  <div class="section product">
    <div class="container">
      <div class="product__main row align-items-xl-top justify-xl-between">
        <div class="product__media col-xs-12 col-md-6">
          <div class="product__thumbs" data-slider="product-thumbs">
            {% for i in 1..5 %}
              <div class="product__thumbs-item swiper-slide">
                <img src="/assets/img/temp/product/1.jpg" alt="" class="product__thumbs-img">
              </div>
            {% endfor %}
          </div>

          <div class="product__picture">
            <div class="product__stickers stickers">
              <div class="stickers__item sticker sticker--new sticker--lg">Хит продаж!</div>
            </div>

            <div class="product__options">
              <i class="product__options-item icon-360" title=""></i>
              <i class="product__options-item icon-play" title=""></i>
            </div>

            <div class="product__slider" data-slider="product">
              {% for i in 1..5 %}
                <div class="product__slider-item slick-slide">
                  <a href="/assets/img/temp/product/1-lg.jpg" class="product__slider-link" data-element="gallery-trigger">
                    <img src="/assets/img/temp/product/1-lg.jpg" alt="" class="product__slider-img">
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="product__body col-xs-12 col-md-6">
          <div class="product__header">
            <h1 class="product__title">Карандаши акварельные Albrecht Durer Faber-Castell 120 цветов</h1>

            <div class="product__brand">
              <a href="brand.html"><img src="/assets/img/temp/brands/kite-sm.png" alt="" class="product__brand-img"></a>
            </div>

            <div class="product__rating-stars rating-stars" data-rate="4">
              {% for i in 1..5 %}
                <i class="rating-stars__star"></i>
              {% endfor %}
            </div>

            <div class="product__code">Арт. 123456789</div>

          </div>

          <div class="product__recommended">
            <div class="product__recommended-price h2">25 900 ₽</div>
            <div class="product__recommended-note">Рекомендованная розничная цена</div>
          </div>

          <div class="product__option options options--image">
            <div class="options__label">Выбрать цвет:</div>
            <ul class="options__list">
              {% for i in 1..3 %}
                <li class="options__item">
                  <label class="option option--image">
                    <input type="radio" class="option__input" name="color" value="{{ i }}">
                    <span class="option__image">
                      <img src="/assets/img/temp/product/colors/{{ i }}.jpg" alt="" class="option__image-img">
                    </span>
                  </label>
                </li>
              {% endfor %}
            </ul>
          </div>

          <div class="hidden-lg-down" data-element="placeholder" data-id="product-compare" data-device="desktop"></div>

          <div class="product__footer">
            <div class="product__price">19 900 ₽</div>

            <div class="hidden-xl-up" data-element="placeholder" data-id="product-compare" data-device="mobile">
              <a href="#" class="product__compare" data-block="movable-block" data-id="product-compare"><i class="product__compare-icon icon-star"></i>Сравнить</a>
            </div>

            <div class="product__amount">
              <div class="product__amount-label">Количество упаковок:</div>
              <div class="product__amount-form amount-form" data-component="amount-form">
                <button class="amount-form__control icon-minus" data-element="dec-control" type="button"></button>
                <input type="text" class="amount-form__input form__input" value="1" data-element="amount-input" data-min="1">
                <button class="amount-form__control icon-plus" data-element="inc-control" type="button"></button>
              </div>
            </div>

            <a href="#modal-cart" class="product__button button button--outline-primary" data-element="modal-trigger">Добавить в корзину</a>
          </div>

          <div class="product__info">
            <div class="product__info-label">Характеристики</div>
            <dl class="product__info-details dl-inline">
              {% for item in product.details %}
                <dt>{{ item.name }}</dt>
                <dd>{{ item.data }}</dd>
              {% endfor %}
            </dl>
          </div>

        </div>
      </div>

      <div class="product__tabs tabs tabs--default" data-component="tabs">
        <ul class="product__tabs-list tabs__list">
          {% for tab in product.tabs %}
            <li class="tabs__item">
              <a href="#product-{{ tab.id }}" class="tabs__link {% if loop.first %} is-active {% endif %}" data-element="tabs-toggle">{{ tab.title }}</a>
            </li>
          {% endfor %}
        </ul>

        <div class="product__tabs-content tabs__content">
          {% for tab in product.tabs %}
            <div class="product-info__tab tabs__tab {% if loop.first %}is-active{% endif %}" role="tabpanel" data-id="product-{{ tab.id }}" data-element="tabs-tab">
              {% if tab.id == 'description' %}

                <div class="product__description">
                  <p>С другой стороны дальнейшее развитие различных форм деятельности требуют от нас анализа модели развития. Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации форм развития. Таким образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития. С другой стороны сложившаяся структура организации играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что сложившаяся структура организации требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач.</p>
                  <p>Не следует, однако забывать, что консультация с широким активом способствует подготовки и реализации новых предложений. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание соответствующий условий активизации. Задача организации, в особенности же сложившаяся структура организации представляет собой интересный эксперимент проверки систем массового участия. Равным образом постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание форм развития. Не следует, однако забывать, что консультация с широким активом влечет за собой процесс внедрения и модернизации систем массового участия.</p>
                  <p>С другой стороны дальнейшее развитие различных форм деятельности требуют от нас анализа модели развития. Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации форм развития. Таким образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития.</p>
                </div>

                {% elseif tab.id == 'info' %}

                <div class="product__features details details--columns">
                  {% for item in product.features %}
                    <dl class="details__item">
                      <dt class="details__label"><span>{{ item.name }}</span></dt>
                      <dd class="details__data">{{ item.data }}</dd>
                    </dl>
                  {% endfor %}
                </div>

                {% elseif tab.id == 'comments' %}

                <div class="product__comments row justify-lg-between">
                  <div class="product__comments-body comments col-xs-12">
                    <div class="product__comments-list comments__list" data-perfect-scrollbar>
                      {% for comment in product.comments %}
                        {% include 'partials/_comment.twig' with { commentsClass: 'comments__item' } %}
                      {% endfor %}
                    </div>

                    <div class="comments__action">
                      <button class="comments__button button button--outline-primary">Показать еще</button>
                    </div>
                  </div>

                  {% if isSession %}
                    <div class="product__comments-form col-xs-12">
                      <form action="#" method="post" class="form comment-form">
                        <h2 class="comment-form__title text-center">Оставьте комментарий о&nbsp;товаре</h2>
                        <div class="comment-form__body">
                          <div class="form__group is-required">
                            <div class="form__field">
                              <label class="form__label form__label--float" for="comment-name">Ваше имя</label>
                              <input type="text" id="comment-name" class="form__input" required>
                            </div>
                          </div>

                          <div class="form__group is-required">
                            <div class="form__field">
                              <label class="form__label form__label--float" for="comment-message">Введите ваше сообщение</label>
                              <textarea rows="4" id="comment-message" class="form__input" required></textarea>
                            </div>
                          </div>

                          <div class="form__group form__group--rating">
                            <label class="form__label" for="rating-input">Оцените товар:</label>
                            <div class="form__rating-stars rating-stars rating-stars--form">
                              <input type="radio" class="rating-stars__input" id="rating-input-5" name="rating-input">
                              <label for="rating-input-5" class="rating-stars__star" title="5"></label>
                              <input type="radio" class="rating-stars__input" id="rating-input-4" name="rating-input">
                              <label for="rating-input-4" class="rating-stars__star" title="4"></label>
                              <input type="radio" class="rating-stars__input" id="rating-input-3" name="rating-input">
                              <label for="rating-input-3" class="rating-stars__star" title="3"></label>
                              <input type="radio" class="rating-stars__input" id="rating-input-2" name="rating-input">
                              <label for="rating-input-2" class="rating-stars__star" title="2"></label>
                              <input type="radio" class="rating-stars__input" id="rating-input" name="rating-input">
                              <label for="rating-input-1" class="rating-stars__star" title="1"></label>
                            </div>
                          </div>

                          <div class="form__group">
                            <img src="/assets/img/temp/captcha.png" class="form__captcha" alt="Captcha">
                          </div>

                          <div class="form__group is-required">
                            <div class="form__field">
                              <label class="form__label form__label--float" for="comment-code">Введите символы с картинки</label>
                              <input type="text" id="comment-code" class="form__input" required>
                            </div>
                          </div>

                          <div class="form__submit text-center">
                            <input type="submit" class="button button--outline-primary" value="Отправить">
                          </div>
                        </div>
                      </form>
                    </div>
                  {% endif %}
                </div>

              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {% include 'partials/_catalog.twig' with { sectionTitle: 'С этим товаром покупают', items: catalog.items, sectionTheme: 'theme-light', stickers: 'mixed' } %}

  {% include 'partials/_catalog.twig' with { sectionTitle: 'Похожие товары', items: catalog.items, stickers: 'mixed' } %}

  {% include 'partials/_catalog.twig' with { sectionTitle: 'Вы ранее смотрели', items: catalog.items, sectionTheme: 'theme-light', stickers: 'mixed' } %}

  {% include 'partials/_seo.twig' %}

{% endblock %}

{% block modals %}
  {% include 'partials/_modal-cart.twig' %}
{% endblock %}