{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Каталог товаров' %}
{% set bodyClass = 'is-session' %}
{% set isSession = true %}

{% block content %}

  <div class="heading">
    <div class="heading__container container">
      <div class="heading__breadcrumb breadcrumb hidden-lg-down">
        <ul class="breadcrumb__list">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>

      <h1 class="text-primary">{{ pageTitle}}</h1>
      <div class="heading__controls">
        <button class="heading__control icon-sorting" title="Сортировать" data-element="sorting-toggle" data-id="sorting"></button>
        <button class="heading__control icon-filter" title="Фильтр" data-element="filters-trigger"></button>
      </div>
    </div>
  </div>

  <div class="section catalog">
    <div class="container">
      <div class="row">
        <div class="catalog__aside col-xs-12 col-xl-3">
          {% include 'partials/_filters.twig' %}
        </div>

        <div class="catalog__main col-xs-12 col-xl-9">
          {% include 'partials/_catalog-sorting.twig' %}

          <div class="catalog__list row justify-xs-center justify-lg-start">
            {% for i in 1..6 %}
              <div class="catalog__item col col-lg-12">
                {% include 'partials/_catalog-item-horizontal.twig' with { stickers: 'mixed' } %}
              </div>
            {% endfor %}
          </div>

          {% include 'partials/_pagination.twig' with { class: 'catalog__pagination' } %}
        </div>
      </div>
    </div>
  </div>

  {% include 'partials/_seo.twig' %}

{% endblock %}

{% block modals %}
  {% include 'partials/_modal-cart.twig' %}
{% endblock %}