{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Каталоги' %}

{% block content %}

  <div class="heading">
    <div class="heading__container container">
      <div class="heading__breadcrumb breadcrumb hidden-lg-down">
        <ul class="breadcrumb__list">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>

      <h1 class="text-primary">{{ pageTitle}}</h1>
    </div>
  </div>

  <div class="section catalogs">
    <div class="container">
      <div class="catalogs__list row justify-xs-center justify-xl-between">
        {% for i in 1..3 %}
          {% for item in catalogs %}
            <div class="catalogs__item col">
              <div class="catalog-card">
                <div class="catalog-card__picture">
                  <img src="/assets/img/temp/catalogs/{{ item.image }}.jpg" alt="" class="catalog-card__img">
                </div>

                <div class="catalog-card__body">
                  <div class="catalog-card__content">
                    {% if item.title %}
                      <h3 class="catalog-card__title">{{ item.title }}</h3>
                    {% endif %}
                    {% for text in item.text %}
                      <p class="catalog-card__text">{{ text }}</p>
                    {% endfor %}
                  </div>

                  <div class="catalog-card__footer">
                    <button class="catalog-card__button button button--outline-primary">Смотреть каталог</button>
                    <a href="#" class="catalog-card__download"><i class="catalog-card__download-icon icon-download"></i>Скачать в формате PDF</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>

      {% include 'partials/_pagination.twig' with { class: 'catalogs__pagination' } %}
    </div>
  </div>

  {% include 'partials/_seo.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}