{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Контакты' %}

{% block content %}

  <div class="heading">
    <div class="heading__container container">
      <div class="heading__breadcrumb breadcrumb hidden-lg-down">
        <ul class="breadcrumb__list">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>

      <h1 class="text-primary">{{ pageTitle }}</h1>
    </div>
  </div>

  <div class="section contacts">
    <div class="container">
      <div class="row justify-lg-between">
        <div class="col-xs-12 col-lg-4">
          <div class="contacts__info">
            <div class="contacts__item">
              <i class="contacts__item-icon icon-marker"></i>
              г. Москва, переулок Кожевнический 1-й, дом 6 строение 1, офис 18Ж, этаж 2, пом. VI
            </div>

            <div class="contacts__item">
              <i class="contacts__item-icon icon-clock"></i>
              График работы: Пн-Пт, с 10:00 до 19:00
            </div>

            <div class="contacts__item">
              <i class="contacts__item-icon icon-phone"></i>
              <a href="tel:+74952121355" class="link-hidden">+7 (495) 212-13-55</a>
            </div>

            <div class="contacts__item">
              <i class="contacts__item-icon icon-mail"></i>
              <a href="mailto:info@axentgroup.ru" class="link-hidden">info@axentgroup.ru</a>
            </div>
          </div>

          <div class="contacts__action">
            <a href="#" class="contacts__button button button--outline-primary button--block">Получить прайс-лист продукции</a>
          </div>
        </div>

        <div class="contacts__map-col col-xs-12">
          <div id="map" class="contacts__map"></div>
        </div>
      </div>
    </div>
  </div>

  <form action="#" class="section cover cover--light feedback-form--2">
    <div class="container">
      <h2 class="section__title h1">Обратная связь</h2>
      <div class="feedback-form__body">
        <div class="row row--md">
          <div class="col-xs-12 col-md-auto">
            <div class="form__group is-required">
              <div class="form__field">
                <label class="form__label form__label--float" for="feedback-name">Введите ваше имя</label>
                <input type="text" id="feedback-name" class="form__input">
              </div>
            </div>

            <div class="form__group is-required">
              <div class="form__field">
                <label class="form__label form__label--float" for="feedback-phone">Введите свой телефон</label>
                <input type="text" id="feedback-phone" class="form__input" data-element="phone-input" placeholder=" ">
              </div>
            </div>

            <div class="form__group is-required">
              <div class="form__field">
                <label class="form__label form__label--float" for="feedback-email">Введите свой e-mail</label>
                <input type="email" id="feedback-email" class="form__input">
              </div>
            </div>

            <div class="form__group is-required">
              <div class="form__field">
                <label class="form__label form__label--float" for="feedback-location">Введите свой город</label>
                <input type="text" id="feedback-location" class="form__input">
              </div>
            </div>

          </div>
          <div class="col-xs-12 col-md-stretch">
            <div class="form__group">
              <div class="form__field form__field--textarea">
                <textarea rows="4" id="feedback-message" class="form__input" placeholder="Введите ваше сообщение"></textarea>
              </div>
            </div>

            <div class="row justify-md-between align-items-md-center">
              <div class="col-xs-12 col-md-auto">
                <div class="form__group is-required">
                  <div class="form__field">
                    <label class="form__label form__label--float" for="feedback-code">Введите символы с картинки</label>
                    <input type="text" id="feedback-code" class="form__input">
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-auto">
                <div class="form__group">
                  <img src="/assets/img/temp/captcha.png" class="form__captcha" alt="Captcha">
                </div>
              </div>
            </div>

            <div class="row row--md justify-md-between align-items-md-bottom form__submit">
              <div class="col-xs-12 col-md-auto">
                <input type="submit" class="button button--primary button--block" value="Отправить">
              </div>
              <div class="col-xs-12 col-md-stretch order-md-first">
                <p class="form__note">Нажимая на&nbsp;кнопку “Отправить”, вы даете согласие на&nbsp;обработку ваших персональных данных в&nbsp;соответствии с&nbsp;Федеральным законом №152-ФЗ “О&nbsp;персональных данных”</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <img src="/assets/img/temp/form-cover.jpg" alt="" class="cover__bg-img">
  </form>
{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
  <script src="https://api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU"></script>

  <script> 
    var myMap;
    ymaps.ready(init);
    function init () {
      myMap = new ymaps.Map('map', {
        center: [55.726639, 37.645968],
        zoom: 16,
        controls: []
      });

      myMap.behaviors.disable('scrollZoom'); 
      var myPlacemark = new ymaps.Placemark(myMap.getCenter(), {}, {
        iconLayout: 'default#image',
        iconImageHref: '/assets/img/map-marker.svg',
        iconImageSize: [21, 30],
      });
      myMap.geoObjects.add(myPlacemark);
    }
  </script>
{% endblock %}