{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Дилеры' %}

{% block content %}

  <div class="heading">
    <div class="heading__container container">
      <div class="heading__breadcrumb breadcrumb hidden-lg-down">
        <ul class="breadcrumb__list">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>

      <h1 class="text-primary">{{ pageTitle }}</h1>
    </div>
  </div>

  <div class="section dealers">
    <div class="container">
      <div class="dealers__sorting sorting row justify-xs-between align-items-sm-center">
        <div class="sorting__group col-xs-12 col-sm-6 col-lg-auto">
          <div class="sorting__label hidden-lg-down">Регион</div>
          <div class="sorting__select sorting__select--lg">
            <select data-element="select" data-placeholder="Выбор региона">
              <option></option>
              {% for item in ['Центральный регион', 'Северо-Западный регион', 'Южный регион', 'Северо-Кавказский регион', 'Приволжский регион'] %}
                <option value="{{ loop.index }}">{{ item }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="sorting__group col-xs-12 col-sm-6 col-lg-auto">
          <div class="sorting__label hidden-lg-down">Город</div>
          <div class="sorting__select sorting__select--lg">
            <select data-element="select" data-placeholder="Выбор города">
              <option></option>
              {% for item in ['Краснодар', 'Красноярск', 'Москва', 'Мурманск', 'Новосибирск'] %}
                <option value="{{ loop.index }}">{{ item }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="sorting__group col-xs-12 col-sm-6 col-lg-auto">
          <div class="sorting__label hidden-lg-down">Бренд</div>
          <div class="sorting__select sorting__select--lg">
            <select data-element="select" data-placeholder="Выбор бренда">
              <option></option>
              {% for item in brands %}
                <option value="{{ loop.index }}">{{ item.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="sorting__group col-xs-12 col-sm-6 col-lg-auto">
          <button class="sorting__button button button--outline-primary">Искать</button>
        </div>
      </div>

      <div class="dealers__map" id="map"></div>

      <div class="dealers__list row justify-xs-center justify-xl-between">
        {% for i in 1..16 %}
          <div class="dealers__item col">
            <div class="dealer-card">
              <h3 class="dealer-card__title">Мир водных игрушек</h3>
              <div class="dealer-card__address">г. Москва, площадь Киевского вокзала, д. 15к4</div>
              <div class="dealer-card__contacts">
                <a href="tel:+79991234567" class="dealer-card__contact link-hidden">
                  <i class="dealer-card__contact-icon icon-phone"></i>+7 999 123-45-67
                </a>
                <a href="http://www.sitename.ru" class="dealer-card__contact">
                  <i class="dealer-card__contact-icon icon-world"></i>
                  <span class="dealer-card__contact-text">www.sitename.ru</span>
                </a>
              </div>
              <button class="dealer-card__button button button--outline-primary">Посмотреть на карте</button>
            </div>
          </div>
        {% endfor %}
      </div>

      {% include 'partials/_pagination.twig' with { class: 'dealers__pagination' } %}
    </div>
  </div>

  {% include 'partials/_seo.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
  <script src="https://api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU"></script>

  <script> 
    ymaps.ready(function () {
      // Creating an instance of the map and binding it to the created container.
      var myMap = new ymaps.Map('map', {
        center: [55.726639, 37.645968],
        zoom: 17,
        controls: []
      }),

      // Creating a balloon layout based on Twitter Bootstrap.
      MyBalloonLayout = ymaps.templateLayoutFactory.createClass(
        '<div class="map-popup">' +
        '<div class="map-popup__arrow"></div>' +
        '<div class="map-popup__body">' +
        '$[[options.contentLayout observeSize minWidth=178 maxWidth=178 maxHeight=350]]' +
        '</div>' +
        '</div>', {
          /**
          * Builds an instance of a layout based on a template and adds it to the parent HTML element.
          * @see https://api.yandex.com/maps/doc/jsapi/2.1/ref/reference/layout.templateBased.Base.xml#build
          * @function
          * @name build
          */
          build: function () {
            this.constructor.superclass.build.call(this);

            this._$element = $('.map-popup', this.getParentElement());

            this.applyElementOffset();

            this._$element.find('.close')
            .on('click', $.proxy(this.onCloseClick, this));
          },

          /**
          * Removes the layout contents from DOM.
          * @see https://api.yandex.com/maps/doc/jsapi/2.1/ref/reference/layout.templateBased.Base.xml#clear
          * @function
          * @name clear
          */
          clear: function () {
            this._$element.find('.close')
            .off('click');

            this.constructor.superclass.clear.call(this);
          },

          /**
          * The method will be invoked by the API's template system when resizing the nested layout.
          * @see https://api.yandex.com/maps/doc/jsapi/2.1/ref/reference/IBalloonLayout.xml#event-userclose
          * @function
          * @name onSublayoutSizeChange
          */
          onSublayoutSizeChange: function () {
            MyBalloonLayout.superclass.onSublayoutSizeChange.apply(this, arguments);

            if(!this._isElement(this._$element)) {
              return;
            }

            this.applyElementOffset();

            this.events.fire('shapechange');
          },

          /**
          * Moving the balloon so the "tail" points at the anchor point.
          * @see https://api.yandex.com/maps/doc/jsapi/2.1/ref/reference/IBalloonLayout.xml#event-userclose
          * @function
          * @name applyElementOffset
          */
          applyElementOffset: function () {
            this._$element.css({
              left: 0,
              top: -(this._$element[0].offsetHeight + this._$element.find('.map-popup__arrow')[0].offsetHeight)
            });
          },

          /**
          * Closes the balloon when the "x" is clicked, throwing the "userclose" event on the layout.
          * @see https://api.yandex.com/maps/doc/jsapi/2.1/ref/reference/IBalloonLayout.xml#event-userclose
          * @function
          * @name onCloseClick
          */
          onCloseClick: function (e) {
            e.preventDefault();

            this.events.fire('userclose');
          },

          /**
          * Used for autopositioning (balloonAutoPan).
          * @see https://api.yandex.com/maps/doc/jsapi/2.1/ref/reference/ILayout.xml#getClientBounds
          * @function
          * @name getClientBounds
          * @returns {Number[][]} The coordinates of the top left and bottom right corners of the template relative to the anchor point.
          */
          getShape: function () {
            if(!this._isElement(this._$element)) {
              return MyBalloonLayout.superclass.getShape.call(this);
            }

            var position = this._$element.position();

            return new ymaps.shape.Rectangle(new ymaps.geometry.pixel.Rectangle([
              [position.left, position.top], [
                position.left + this._$element[0].offsetWidth,
                position.top + this._$element[0].offsetHeight + this._$element.find('.map-popup__arrow')[0].offsetHeight
              ]
            ]));
          },

          /**
          * Checking the availability of the item (in IE and Opera it might not be there yet).
          * @function
          * @private
          * @name _isElement
          * @param {jQuery} [element] Element.
          * @returns {Boolean} Availability flag.
          */
          _isElement: function (element) {
            return element && element[0] && element.find('.map-popup__arrow')[0];
          }
        }),

        // Creating a nested layout for balloon content.
        MyBalloonContentLayout = ymaps.templateLayoutFactory.createClass(
          '$[properties.balloonContent]'
        ),

        // Creating a placemark with a custom balloon layout.
        myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
          balloonContent: `
          <div class="dealer-card dealer-card--popup">
            <h3 class="dealer-card__title">Мир водных игрушек</h3>
            <div class="dealer-card__address">г. Москва, площадь Киевского вокзала, д. 15к4</div>
            <div class="dealer-card__contacts">
              <a href="tel:+79991234567" class="dealer-card__contact link-hidden">
                <i class="dealer-card__contact-icon icon-phone"></i>+7 999 123-45-67
              </a>
              <a href="http://www.sitename.ru" class="dealer-card__contact">
                <i class="dealer-card__contact-icon icon-world"></i>
                <span class="dealer-card__contact-text">www.sitename.ru</span>
              </a>
            </div>
          </div>
          `
        }, {
          iconLayout: 'default#image',
          iconImageHref: '/assets/img/map-marker.svg',
          iconImageSize: [21, 30],
          balloonShadow: false,
          balloonLayout: MyBalloonLayout,
          balloonContentLayout: MyBalloonContentLayout,
          balloonPanelMaxMapArea: 0,
          balloonOffset: [-32, -38],
          hideIconOnBalloonOpen: false,
        });

        myMap.behaviors.disable('scrollZoom');
        myMap.geoObjects.add(myPlacemark);
    });
  </script>
{% endblock %}