{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Вопросы и ответы' %}

{% block content %}

  <div class="heading">
    <div class="heading__container container">
      <div class="heading__breadcrumb breadcrumb hidden-lg-down">
        <ul class="breadcrumb__list">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>

      <h1 class="text-primary">{{ pageTitle}}</h1>
    </div>
  </div>

  <div class="section faq">
    <div class="container">
      <div class="faq__list">
        {% for item in faq %}
          <div class="faq__item is-collapsed" data-component="panel">
            <h3 class="faq__question" data-element="panel-toggle">{{ item.question }}</h3>
            <div class="faq__answer">
              <p>{{ item.answer }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}

{% block modals %}
{% endblock %}