{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-home' %}
{% set bodyClass = 'is-session' %}
{% set isSession = true %}

{% block content %}

  {% include 'partials/_hero.twig' %}

  {% include 'partials/_benefits.twig' with { benefitsClass: 'benefits--dots', visibilityClass: 'hidden-lg-down' } %}

  {% include 'partials/_about.twig' %}

  {% include 'partials/_catalog.twig' with { sectionTitle: 'Новинки', items: catalog.items, sectionTheme: 'theme-light', stickers: 'new' } %}

  {% include 'partials/_catalog.twig' with { sectionTitle: 'Хиты продаж', items: catalog.items, stickers: 'hit' } %}

  {% include 'partials/_brands.twig' %}

  {% include 'partials/_news.twig' with { sectionTitle: 'Новости компании', sectionTheme: 'theme-light' } %}

  {% include 'partials/_cookies.twig' %}

{% endblock %}

{% block modals %}
  {% include 'partials/_modal-cart.twig' %}
{% endblock %}