{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Новости' %}

{% block content %}

  <div class="heading">
    <div class="heading__container container">
      <div class="heading__breadcrumb breadcrumb hidden-lg-down">
        <ul class="breadcrumb__list">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>

      <h1 class="text-primary">{{ pageTitle}}</h1>
    </div>
  </div>

  <div class="section news">
    <div class="container">
      <div class="row">
        <div class="news__body col-xs-12 col-xl-10">
          <div class="news__list row justify-xs-center justify-xl-between">
            {% for i in 1..9 %}
              <div class="news__item col">
                {% include 'partials/_news-card.twig' %}
              </div>
            {% endfor %}
          </div>

          {% include 'partials/_pagination.twig' with { class: 'news__pagination pagination--start' } %}
        </div>

        <div class="news__aside col-xs-12 col-xl-2">
          <div class="news__aside-section">
            <div class="news__aside-title">Рубрики:</div>
            <ul class="news__aside-list">
              {% for item in ['Фломастер', 'Карандаш', 'Идеи', 'Сумки', 'Продукция Kite'] %}
                <li class="news__aside-item">
                  <a href="#" class="news__aside-link">{{ item }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>

          <div class="news__aside-section social social--lg">
            <div class="news__aside-title">Мы в соцсетях:</div>
            {% include 'partials/_social-list.twig' with { socialClass: 'news__aside-social' } %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'partials/_seo.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}