{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Заголовок новости' %}

{% block content %}

  <div class="heading">
    <div class="heading__container container">
      <div class="heading__breadcrumb breadcrumb hidden-lg-down">
        <ul class="breadcrumb__list">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item"><a href="news.html" class="breadcrumb__link">Новости</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>

      <h1 class="text-primary">{{ pageTitle}}</h1>
    </div>
  </div>

  <div class="section news">
    <div class="container">
      <div class="row">
        <div class="news__body col-xs-12 col-xl-10">
          <article class="news__article article">
            <div class="article__meta">
              <div class="article__date">26.03.2021</div>
              <div class="article__rubric">Рубрика: <a href="#" class="link-noline">Идеи</a></div>
            </div>

            <div class="article__picture">
              <img src="/assets/img/temp/article.jpg" alt="" class="article__picture-img">
            </div>

            <div class="article__body text-block text-block--compact">
              <h2>Заголовок Н2</h2>
              <p>Таким образом консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Не следует, однако забывать, что новая модель организационной деятельности позволяет выполнять важные задания по разработке форм развития. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Товарищи! дальнейшее развитие различных форм деятельности требуют определения и уточнения новых предложений. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке существенных финансовых и административных условий.</p>
              <ol>
                <li>Позиция нумерованного списка</li>
                <li>Позиция нумерованного списка</li>
                <li>Позиция нумерованного списка</li>
              </ol>
              <h3>Заголовок Н3</h3>
              <p>Товарищи! консультация с широким активом требуют от нас анализа модели развития. Не следует, однако забывать, что консультация с широким активом представляет собой интересный эксперимент проверки направлений прогрессивного развития. Задача организации, в особенности же начало повседневной работы по формированию позиции позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание соответствующий условий активизации.</p>
              <ul>
                <li>Позиция списка №1</li>
                <li>Позиция списка №1</li>
                <li>Позиция списка №1</li>
                <li>Позиция списка №1</li>
                <li>Позиция списка №1</li>
              </ul>
            </div>

            <div class="article__footer">
              <div class="article__share">
                Поделиться в соцсетях:
                {% include 'partials/_social-list.twig' with { socialClass: 'article__share-social social--md' } %}
              </div>
            </div>
          </article>
        </div>

        <div class="news__aside col-xs-12 col-xl-2 hidden-lg-down">
          <div class="news__aside-section">
            <div class="news__aside-title">Рубрики:</div>
            <ul class="news__aside-list">
              {% for item in ['Фломастер', 'Карандаш', 'Идеи', 'Сумки', 'Продукция Kite'] %}
                <li class="news__aside-item">
                  <a href="#" class="news__aside-link">{{ item }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>

          <div class="news__aside-section social social--lg">
            <div class="news__aside-title">Мы в соцсетях:</div>
            {% include 'partials/_social-list.twig' with { socialClass: 'news__aside-social' } %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'partials/_news.twig' with { sectionTitle: 'Популярные новости', sectionTheme: 'theme-primary', logoStamp: true, sectionAction: false, isDesktop: true } %}

  {% include 'partials/_news.twig' with { sectionTitle: 'Другие новости в этой рубрике', sectionTheme: 'theme-light', isDesktop: true } %}

  {% include 'partials/_seo.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}