{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Сотрудничество' %}

{% block content %}

  <div class="heading">
    <div class="heading__container container">
      <div class="heading__breadcrumb breadcrumb hidden-lg-down">
        <ul class="breadcrumb__list">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>

      <h1 class="text-primary">{{ pageTitle }}</h1>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <p>Компания «Акцент Груп» — дистрибьютор качественных европейских товаров для школы и офиса. В арсенале компании три известные немецкие торговые марки: KITE (модные современные рюкзаки, ранцы, сумки, пеналы для школы и молодежи, канцелярия), GoPack (школьные ранцы и молодежные рюкзаки средней ценовой категории), Axent (стильные и оригинальные канцтовары для офиса). <br>Компания несет ответственность за каждый свой шаг, заботится о клиентах и следит за неизменным уровнем качества продукции. <br>Плодотворное, взаимовыгодное сотрудничество позволяет развиваться как нам, так и нашим клиентам. Наши традиционно сильные стороны — это качество товара, доступная цена, востребованность на рынке и широкий ассортимент.</p>
    </div>
  </div>

  {% include 'partials/_benefits.twig' with { sectionTitle: 'Мы предлагаем', benefits: offerBenefits } %}

  <form action="#" class="section theme-primary price-form">
    <div class="container">
      <h2 class="section__title h1">Получите наш прайс-лист</h2>
      <div class="price-form__body">
        <div class="row row--md">
          <div class="col-xs-12 col-md-4">
            <div class="form__group is-required">
              <div class="form__field">
                <label class="form__label form__label--float" for="price-company-name">Название компании</label>
                <input type="text" id="price-company-name" class="form__input">
              </div>
            </div>

            <div class="form__group is-required">
              <div class="form__field">
                <label class="form__label form__label--float" for="price-name">ФИО</label>
                <input type="text" id="price-name" class="form__input">
              </div>
            </div>

            <div class="form__group">
              <div class="form__field">
                <label class="form__label form__label--float" for="price-job">Должность контактного лица</label>
                <input type="text" id="price-job" class="form__input">
              </div>
            </div>

            <div class="form__group is-required">
              <div class="form__field">
                <label class="form__label form__label--float" for="price-email">E-mail</label>
                <input type="email" id="price-email" class="form__input">
              </div>
            </div>

            <div class="form__group is-required">
              <div class="form__field">
                <label class="form__label form__label--float" for="price-phone">+7 (___) ___-__-__</label>
                <input type="text" id="price-phone" class="form__input" data-element="phone-input">
              </div>
            </div>

            <div class="form__group">
              <div class="form__field">
                <label class="form__label form__label--float" for="price-inn">ИНН</label>
                <input type="text" id="price-inn" class="form__input">
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-4">
            <div class="form__group">
              <div class="form__field">
                <select data-element="select" data-placeholder="Округ">
                  <option></option>
                  {% for item in ['Центральный регион', 'Северо-Западный регион', 'Южный регион', 'Северо-Кавказский регион', 'Приволжский регион'] %}
                    <option value="{{ loop.index }}">{{ item }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="form__group">
              <div class="form__field">
                <select data-element="select" data-placeholder="Город">
                  <option></option>
                  {% for item in ['Краснодар', 'Красноярск', 'Москва', 'Мурманск', 'Новосибирск'] %}
                    <option value="{{ loop.index }}">{{ item }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="form__group">
              <div class="form__field">
                <select class="select--tall" data-element="select" data-placeholder="Плановая сумма закупки текстильной продукции/ канцелярии?">
                  <option></option>
                  {% for item in ['20 тыс. руб.', '50 тыс. руб.', '100 тыс. руб.', '200 тыс. руб.'] %}
                    <option value="{{ loop.index }}">{{ item }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="form__group">
              <div class="form__input form__input--tall">
                <label class="form__label" for="price-field">Род деятельности компании</label>
                <div class="form__controls">
                  {% for option in ['Род деятельности 1', 'Род деятельности 2', 'Род деятельности 3', 'Род деятельности 4'] %}
                    <label class="form__controls-item custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control__input" name="price-field-{{ loop.index }}" value="{{ loop.index }}">
                      <span class="custom-control__indicator"></span>
                      <span class="custom-control__text">{{ option }}</span>
                    </label>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-4">
            <div class="form__group">
              <div class="form__field form__field--textarea">
                <textarea rows="4" id="price-message" class="form__input" placeholder="Введите ваше сообщение"></textarea>
              </div>
            </div>

            <div class="form__group">
              <img src="/assets/img/temp/captcha.png" class="form__captcha" alt="Captcha">
            </div>

            <div class="form__group is-required">
              <div class="form__field">
                <label class="form__label form__label--float" for="price-code">Введите символы с картинки</label>
                <input type="text" id="price-code" class="form__input">
              </div>
            </div>

            <div class="form__submit">
              <input type="submit" class="button button--base button--block" value="Отправить">
              <p class="form__note">Нажимая на&nbsp;кнопку “Отправить”, вы даете согласие на&nbsp;обработку ваших персональных данных в&nbsp;соответствии с&nbsp;Федеральным законом №152-ФЗ “О&nbsp;персональных данных”</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

{% endblock %}

{% block modals %}
{% endblock %}