{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Результаты поиска' %}

{% block content %}

  <div class="heading">
    <div class="heading__container container">
      <div class="heading__breadcrumb breadcrumb hidden-lg-down">
        <ul class="breadcrumb__list">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>

      <h1 class="text-primary">{{ pageTitle }}</h1>
    </div>
  </div>

  <div class="section search-results">
    <div class="container">
      <ul class="section__menu menu-list row">
        {% for item in ['Товары', 'Категории товаров', 'Акции', 'Новости'] %}
          <li class="menu-list__item col">
            <a href="#" class="menu-list__link {% if loop.first %}is-active{% endif %}">{{ item }}</a>
          </li>
        {% endfor %}
      </ul>

      <div class="catalog__list row justify-xs-center justify-xl-between">
        {% for i in 1..8 %}
          <div class="catalog__item col">
            {% include 'partials/_catalog-item.twig' with { stickers: 'mixed' } %}
          </div>
        {% endfor %}
      </div>

      {% include 'partials/_pagination.twig' with { class: 'search-results__pagination' } %}

    </div>
  </div>

{% endblock %}

{% block modals %}
{% endblock %}