.amount-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: rem(102px);
    position: relative;

    &__control {
        border-width: 0;
        border-radius: $border-radius-xl;
        @include size(rem(16px));
        color: $black;

        &:before {
            top: -1px;
        }

        &:disabled {
            color: $gray-7;
        }

        @include hover-focus-active {
            outline: 0;
            opacity: .75;
        }
    }

    &__input {
        background-color: $gray-3;
        border-width: 0;
        border-radius: $border-radius-xl !important;
        @include size(rem(50px), rem(30px));
        @include font($font-size-lg, $line-height-lg);
        margin-left: rem(10px);
        margin-right: rem(10px);
        padding-left: 0;
        padding-right: 0;
        white-space: nowrap;
        text-align: center;
    }

    &__note {
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: rem(8px);
        @include font($font-size-xs, $line-height-xs);
        letter-spacing: -.034em;
        white-space: nowrap;
        color: $gray-9;
    }

    @include media-breakpoint-down(lg) {
        .product & {
            width: rem(135px);

            .amount-form__control {
                @include size(rem(21px));
                font-size: rem(21px);
            }

            .amount-form__input {
                @include size(rem(65px), rem(40px));
                @include font(23px, 27.01px);
                margin-left: rem(14px);
                margin-right: rem(14px);
            }
        }
    }
}