.comment-form {
    border: 1px solid $gray-3;
    border-width: 1px 0;
    box-shadow: 0 6px 32px rgba($gray-4, 0.75);
    padding: rem(23px $gutter-xs 21px);
    margin-left: rem(- $gutter-xs);
    margin-right: rem(- $gutter-xs);

    &__title {
        margin-bottom: rem(11px);
    }

    &__body {
        margin-left: auto;
        margin-right: auto;
        max-width: rem(250px);
    }

    @include media-breakpoint-up(lg) {
        border-width: 1px;
        border-radius: $border-radius-lg;
        margin-left: auto;
        margin-right: auto;
        padding-top: rem(37px);
        padding-bottom: rem(24px);

        &__title {
            margin-bottom: rem(21px);
        }
    }
}