.custom-control {
    display: flex;
    align-items: baseline;
    text-align: left;
    cursor: pointer;
    transition: 0.25s ease-in-out;

    &__input {
        position: absolute;
        z-index: -1; // Put the input behind the label so it doesn't overlay text
        opacity: 0;
    }

    &__indicator {
        position: relative;
        display: block;
        @include size(rem(10px));
        min-width: rem(rem(10px));
        margin-right: rem(11px);
        user-select: none;
        pointer-events: none;
        text-align: center;
        background-color: $input-bg-color;
        border-radius: $border-radius-sm;
        border: $input-border-width solid $input-border-color;
        transition: all 0.25s ease-in-out;
    }

    &__input:checked ~ &__indicator,
    &__input:active ~ &__indicator {
        &:before {
            opacity: 1;
        }
    }

    &__color {
        border-radius: $border-radius;
        @include size(rem(25px));

        &--light {
            border: 1px solid $gray-3;
        }
    }

    &__input:checked ~ &__color,
    &__input:active ~ &__color {
        border: 1px solid $primary;
    }

    .has-error & {
        &__indicator {
            border-color: $red;
            color: $red;
        }
    }

    &--lg {
        @include font($font-size-lg, $line-height-base);
    }

    @include media-breakpoint-up(xl) {
        &,
        &--lg {
            @include font($font-size-sm, $line-height-xs);
        }
    }
}

// Custom indicator
//
// Generates a shadow element to create our makeshift checkbox/radio background.

// Checkboxes
//
// Tweak just a few things for checkboxes.

.custom-checkbox {
    .custom-control__input:checked ~ .custom-control__indicator,
    .custom-control__input:active ~ .custom-control__indicator {
        background-color: $primary;
    }
}

.custom-radio {
    .custom-control__indicator {
        @include rounded;

        &:before {
            opacity: 0;
            position: absolute !important;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            @include size(rem(5px));
            @include rounded;
            background-color: $primary;
            content: '';
        }
    }
}