.feedback-form {
    text-align: center;

    &__body {
        margin: rem(-14px) auto rem(9px);
        max-width: rem(530px);
    }

    &__description {
        @include font($font-size-lg, $line-height-base);
        margin-bottom: rem(28px);
    }

    .form__note {
        margin-top: rem(35px);
    }

    &--2 {
        .form__group {
            margin-bottom: rem(18px);
        }

        .form__captcha {
            max-width: rem(200px);
            margin-left: auto;
            margin-right: auto;
        }

        .form__submit {
            margin-top: rem(10px);
            text-align: center;
        }

        .form__note {
            @include font(10px, 12.01px);
            margin-top: rem(24px);
        }

        .button {
            width: rem(200px);
        }
    }

    &--2 & {
        &__body {
            margin-top: rem(67px);
        }
    }

    @include media-breakpoint-up(md) {
        &__description {
            margin-left: rem(-50px);
            margin-right: rem(-50px);
            margin-bottom: rem(40px);
            @include font($font-size-base, $line-height-base);
        }

        &--2 {
            padding-bottom: rem(66px);

            .form__field:not(.form__field--textarea) {
                width: rem(220px);
            }

            .form__captcha {
                margin-left: 0;
                margin-right: 0;
            }

            .form__submit {
                margin-top: rem(-4px);
                text-align: left;
            }

            .form__note {
                margin-top: 0;
            }

            textarea.form__input {
                height: rem(98px);
            }
        }

        &--2 & {
            &__body {
                max-width: rem(770px);
                margin-top: rem(53px);
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &--2 {
            .form__field:not(.form__field--textarea) {
                width: rem(250px);
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__body {
            margin-top: rem(-25px);
            margin-bottom: rem(22px);
        }
    }
}