.form {
    &__group {
        position: relative;
        margin-bottom: rem(14px);

        &--rating {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: rem(19px);
            margin-bottom: rem(25px);
        }
    }

    &__field {
        position: relative;
        display: flex;

        &-icon {
            font-size: rem(18px);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            cursor: pointer;
        }

        .form__input {
            flex: 1;
        }

        &.is-focused {
            .form__label--float {
                opacity: 0;
                visibility: hidden;
            }

            .form__errors-list {
                display: none;
            }
        }

        &--icon-right {
            .form__input {
                padding-right: rem($input-padding-x-icon);
            }
        }

        &--icon-right & {
            &-icon {
                right: rem($input-padding-x);
            }
        }
    }

    &__label {
        display: block;
        @include font($font-size-base, $line-height-md);
        letter-spacing: -.04em;
        margin-bottom: rem(7px);

        &--float {
            pointer-events: none;
            position: absolute;
            top: rem($input-padding-y);
            left: rem($input-padding-x);
            color: $input-color-placeholder;
            @include font($input-font-size, $input-line-height);
            font-style: italic;
            letter-spacing: 0;
            margin-bottom: 0;
            z-index: 1;
            transition: all.1s ease-in-out;
        }

        .form__group.is-required & {
            &:after {
                content: "*";
                color: $primary;
            }
        }
    }

    &__rating-stars {
        margin-top: rem(-2px);
    }

    &__captcha {
        display: block;
        width: 100%;
        border: $input-border-width solid $input-border-color;
        border-radius: $input-border-radius;
    }

    &__errors-list {
        width: calc(100% - #{$input-border-width} * 2);
        position: absolute;
        top: $input-border-width;
        left: $input-border-width;
        padding: rem(( $input-padding-y - $input-border-width) / 2 $input-padding-x);
        height: $input-height - $input-border-width * 2;
        background-color: $red;
        border-radius: $input-border-radius;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        pointer-events: none;

        &:empty {
            display: none;
        }

        .custom-control + & {
            width: auto;
            position: static;
            margin-top: rem(8px);
            padding: 0;
            height: auto;
            background: none;
            display: block;
        }
    }

    &__error {
        @include margin-bottom(rem($gutter-xs / 2));
    }

    &__submit {
        margin-top: rem(21px);
    }

    &__note {
        @include font($font-size-2xs, 14.01px);
    }

    &__controls {
        margin-bottom: rem(-3px);

        &-item {
            margin-bottom: rem(3px);
        }
    }

    @include media-breakpoint-up(md) {
        &__label {
            @include font($input-font-size, $input-line-height);

            &--float {
                @include font($input-font-size, $input-line-height);
            }

            .form__input & {
                margin-top: rem(-2px);
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__group {
            margin-bottom: rem($form-group-margin-bottom);

            &--rating {
                margin-bottom: rem(30px);
            }
        }

        &__submit {
            margin-top: rem(26px);
        }

        &__label {
            .form__input & {
                margin-top: rem(-1px);
            }
        }

        &__controls {
            margin-bottom: rem(-5px);

            &-item {
                margin-bottom: rem(6px);
            }
        }
    }
}