.price-form {
    text-align: center;

    .section__title {
        margin-left: rem(-5px);
        margin-right: rem(-5px);
    }

    &__body {
        margin: rem(-6px) auto rem(7px);
        max-width: rem(530px);
    }

    .form__group {
        margin-bottom: rem(18px);
    }

    .form__captcha {
        max-width: rem(200px);
        margin-left: auto;
        margin-right: auto;
    }

    .form__submit {
        margin-top: rem(42px);
        text-align: center;
    }

    .button {
        width: rem(200px);
    }

    .form__note {
        @include font(10px, 12.01px);
        margin-top: rem(36px);
    }

    @include media-breakpoint-up(md) {
        &__body {
            max-width: rem(790px);
            margin-top: rem(64px);
            margin-bottom: 0;
        }

        .form__field {
            &--textarea {
                height: rem($input-height * 2 + 18px);
            }
        }

        .form__captcha {
            max-width: none;
        }

        .form__submit {
            margin-top: 0;
            text-align: left;
        }

        .form__note {
            margin-top: rem(18px);
        }
    }

    @include media-breakpoint-up(xl) {
        @include gradient-y($primary, $red-2);
        padding-bottom: rem(88px);

        .form__note {
            margin-right: rem(-40px);
        }
    }
}