.search-form {
    .form__input {
        border-radius: 0;
    }

    .form__field-icon {
        transition: opacity .25s ease-in-out;

        &.icon-close {
            cursor: pointer;
            opacity: 0;
            visibility: hidden;

            @include hover-focus {
                color: $black;
            }
        }
    }

    &.is-active {
        .form__field-icon {
            &.icon-close {
                opacity: 1;
                visibility: visible;
            }

            &.icon-search {
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    @include media-breakpoint-up(xl) {
    }
}