.subscription-form {
    text-align: center;

    &__body {
        max-width: rem(280px);
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        @include font($font-size-lg, $line-height-base);
        margin-bottom: rem(17px);
    }

    .form__group {
        margin-bottom: rem(23px);
    }

    .form__input {
        border-color: $input-bg-color;
    }

    .button {
        max-width: rem(250px);
    }

    .form__note {
        margin-top: rem(28px);
    }

    @include media-breakpoint-up(xl) {
        &__body {
            max-width: none;
        }

        &__title {
            @include font($font-size-sm, $line-height-sm);
        }

        .form__group {
            margin-bottom: rem(16px);
        }

        .form__input {
            border-color: $input-bg-color;
        }

        .button {
            max-width: none;
        }

        .form__note {
            margin-top: rem(21px);
        }
    }
}