.about {
    &__picture {
        margin-bottom: rem(51px);
        @include aspect-ratio-block(320/316);
    }

    &__img {
        @extend %cover-image;
    }

    &__title {
        text-align: center;
        margin-bottom: rem(28px);
    }

    @include media-breakpoint-down(lg) {
        &__picture {
            padding-left: 0;
            padding-right: 0;
            margin-left: rem(- $gutter-xs / 2);
            margin-right: rem(- $gutter-xs / 2);
            max-width: none;
            flex: 0 0 calc(100% + #{$gutter-xs});
        }
    }

    @include media-breakpoint-up(md) {
        &__picture {
            &:after {
                padding-top: 58.73%;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        padding-bottom: rem(115px);

        &__picture {
            border-radius: $border-radius;
            margin-bottom: 0;
            max-width: 38%;
        }

        &__title {
            text-align: left;
            margin-bottom: rem(36px);
        }
    }
}