.article {
    &__meta {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-top: rem(-13px);
        margin-bottom: rem(28px);
    }

    &__date {
        margin-right: rem(30px);
    }

    &__picture {
        margin-left: rem(- $gutter-xs);
        margin-right: rem(- $gutter-xs);
        margin-bottom: rem(41px);

        &-img {
            display: block;
            width: 100%;
        }
    }

    &__body {
        letter-spacing: -.04em;
    }

    &__footer {
        margin-top: rem(35px);

        &:before {
            display: block;
            margin-left: rem(- $gutter-xs);
            margin-right: rem(- $gutter-xs);
            margin-bottom: rem(24px);
            border-top: 1px solid $gray-5;
            content: '';
        }
    }

    &__share {
        display: flex;
        align-items: center;

        &-social {
            margin-left: rem(13px);
        }
    }

    @include media-breakpoint-up(lg) {
        &__picture {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: rem(39px);
        }

        &__footer {
            &:before {
                margin-left: 0;
                margin-right: 0;
                margin-bottom: rem(35px);
            }
        }

        &__share {
            @include font($font-size-sm, $line-height-sm);

            &-social {
                margin-left: rem(20px);
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__meta {
            margin-top: rem(-24px);
            margin-bottom: rem(18px);
        }

        &__date {
            @include font($font-size-2xs, $line-height-2xs);
        }

        &__footer {
            margin-bottom: rem(10px);
        }
    }
}