.basket {
    &__section {
        padding-top: rem(26px);
        padding-bottom: rem(38px);
    }

    &__title {
        text-align: center;
        margin-bottom: rem(33px);
    }

    @include media-breakpoint-down(md) {
        &__title {
            @include font($font-size-h2, $line-height-base);
        }
    }

    @include media-breakpoint-up(lg) {
        &__section {
            padding-top: rem(36px);
            padding-bottom: rem(47px);
        }

        &__title {
            text-align: left;
            margin-bottom: rem(36px);
        }

        &__aside {
            max-width: 39%;
            border-left: 1px solid $gray-3;
            padding-left: rem($gutter-xl);
        }

        &__items {
            position: relative;
            overflow: hidden;
            max-height: rem(326px);
            margin-top: rem(-28px);
            margin-right: rem(-53px);
            padding-top: rem(23px);
            padding-right: rem(53px);
        }
    }

    @include media-breakpoint-up(xl) {
    }
}