.benefits {
    &__item {
        color: $primary;
        text-align: center;
        flex: 0 0 rem(240px);
        margin-bottom: rem(33px);

        &-icon {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: rem(20px);
            fill: currentColor;
            @include size(rem(81px));
        }

        &-title {
            @include font($font-size-h2, $line-height-base);
        }
    }

    &--dots & {
        &__item {
            flex: 0 0 rem(200px);

            &:after {
                position: absolute;
                top: rem(40px);
                left: 100%;
                margin-left: rem(- $gutter-xl / 2);
                width: calc(100% - #{$gutter-xl});
                content: '';
                border-top: 3px dotted $gray-7;
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
    }

   @include media-breakpoint-up(xl) {
       padding-top: rem(19px);
       padding-bottom: rem(75px);

       &__list {
           max-width: 1062px;
           margin-top: rem(80px);
           margin-left: auto;
           margin-right: auto;
       }

       &--dots {
           padding-top: rem(104px);
           padding-bottom: rem(50px);
       }

       &--dots & {
           &__list {
               max-width: none;
               margin-top: 0;
           }
       }

   }
}