.brand {
    margin-bottom: rem(40px);

    &__headline {
        background-color: $pink;
        position: relative;
        overflow: hidden;
        z-index: 1;
        color: $primary;
        margin-left: rem(- $gutter-xs);
        margin-right: rem(- $gutter-xs);
        margin-bottom: rem(22px);
        padding: rem(38px $gutter-xs 128px);

        &-logo {
            display: none;
        }

        &-title {
            text-align: center;
            margin-bottom: 0;
        }

        &-img {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
            max-height: 131px;
        }
    }

    &__intro {
        &-img {
            display: block;
            margin-top: rem(56px);
            margin-bottom: rem(43px);
        }
    }

    &__links {
        @include list-unstyled;

        &:not(:first-child) {
            margin-top: 2.5em;
        }

        &-item {
            position: relative;
            padding-left: rem(36px);
            @include margin-bottom(rem(6px));
        }

        &-icon {
            position: absolute;
            top: rem(3px);
            left: 0;
            font-size: rem(19px);
            color: $primary;
        }
    }

    &__url {
        color: $violet;
    }

    &__body.text-block {
        ul,
        ol {
            margin-top: rem(39px);
            margin-left: 0;
        }
    }

    &__content {
        margin-bottom: rem($gutter-xl);

        &:after {
            display: block;
            content: '';
            border-bottom: 1px solid $gray-5;
            margin-top: rem(7px);
            margin-left: rem(- $gutter-xs);
            margin-right: rem(- $gutter-xs);
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
    }

    &__img {
        display: block;
        margin-top: rem(42px);
        margin-bottom: rem(36px);
        border-top-right-radius: 16px;
        border-bottom-left-radius: 16px;
        box-shadow: 0 6px 32px rgba($gray-4, 0.75);
        order: 10;
    }

    @include media-breakpoint-up(md) {
        &__headline {
            display: flex;
            align-items: center;
            height: rem(131px);
            padding: rem(24px 24px 24px 71px);
            margin-bottom: rem(31px);

            &-title {
                text-align: left;
            }

            &-img {
                bottom: 50%;
                transform: translateY(50%);
                max-height: 100%;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__headline {
            height: rem(190px);

            &-logo {
                display: block;
                position: absolute;
                top: rem(15px);
                right: rem(11px);
                max-height: rem(44px);
            }
        }

        &__intro {
            margin-bottom: rem(59px);

            &:after {
                width: 100%;
                display: block;
                content: '';
                border-bottom: 1px solid $gray-5;
                margin-top: rem(42px);
                margin-left: rem($gutter-xl / 2);
                margin-right: rem($gutter-xl / 2);
            }

            &-img {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        &__links {
            &:not(:first-child) {
                margin-top: 3.25em;
            }
        }

        &__body.text-block {
            ul,
            ol {
                margin-top: rem(32px);
            }
        }

        &__content {
            margin-bottom: rem(65px);
            @include clearfix();

            &:after {
                clear: both;
                width: 100%;
                padding-top: rem(26px);
                margin-top: 0;
                margin-left: 0;
                margin-right: 0;
            }
        }

        &__section {
            display: block;
        }

        &__text {
            float: left;
            max-width: calc(100% - 369px - #{$gutter-xl});
            margin-bottom: rem(48px);
        }

        &__img {
            float: right;
            max-width: 369px;
            margin-top: rem(7px);
            margin-left: rem($gutter-xl);
            margin-bottom: rem(37px);
        }
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: rem(83px);

        &__headline {
            margin-top: rem(-28px);
            margin-left: 0;
            margin-right: 0;
        }
    }
}