.brands {
    &__item {
        border: 1px solid $gray-5;
        height: rem(150px);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: -1px;

        &-img {
            display: block;
        }

        @include hover-focus {
            border-color: $primary;
            z-index: 2;
        }
    }

   @include media-breakpoint-up(md) {
       &__item {
           margin-right: -1px;
       }
   }

   @include media-breakpoint-up(lg) {
       min-height: rem(420px);
   }
}