.catalogs {
    &__list {
        margin-bottom: rem(-15px);
        padding-bottom: 1px;
    }

    &__item {
        margin-bottom: rem(15px);
        display: flex;
        justify-content: center;
    }

    &__pagination {
        margin-top: rem(42px);
    }

    @include media-breakpoint-up(sm) {
        &__list {
            margin-bottom: rem(-20px);
        }

        &__item {
            margin-bottom: rem(20px);
        }
    }

   @include media-breakpoint-up(xl) {
       &__list {
           margin-bottom: rem(-30px);
       }

       &__item {
           margin-bottom: rem(30px);
       }

       &__pagination {
           margin-top: rem(64px);
       }
   }
}