.catalog {
    position: static;

    &__sorting {
        display: none;
    }

    &__list {
        margin-bottom: rem(-15px);
        padding-bottom: 1px;
    }

    &__item {
        margin-bottom: rem(15px);
    }

    &__pagination {
        margin-top: rem(45px);
    }

    @include media-breakpoint-up(sm) {
        &__list {
            margin-bottom: rem(-20px);
        }

        &__item {
            margin-bottom: rem(20px);
        }
    }

   @include media-breakpoint-up(xl) {
       padding-bottom: rem(85px);

       &.section--spaced {
           padding-bottom: rem(143px);
       }

       &__sorting {
           display: flex;
           margin-bottom: rem($gutter-xl);
       }

       &__list {
           margin-bottom: rem(-25px);
       }

       &__item {
           margin-bottom: rem(25px);
       }

       &__pagination {
           margin-top: rem(50px);
       }
   }
}