.contacts {
    padding-bottom: 0;

    &__item {
        position: relative;
        padding-left: rem(42px);
        margin-bottom: rem(24px);

        &-icon {
            position: absolute;
            top: rem(2px);
            left: 0;
            color: $primary;
            font-size: rem(21px);
            width: rem(23px);
            text-align: center;

            &.icon-marker {
                font-size: rem(29px);
            }

            &.icon-clock {
                font-size: rem(23px);
            }
        }
    }

    &__action {
        margin-top: rem(41px);
    }

    &__map {
        height: 460px;
        margin-top: rem(42px);
        margin-left: rem(- $gutter-xs);
        margin-right: rem(- $gutter-xs);
    }

    @include media-breakpoint-up(md) {
        &__button {
            max-width: rem(250px);
        }
    }

    @include media-breakpoint-up(lg) {
        padding-bottom: rem(86px);

        &__map-col {
            max-width: rem(730px);
            flex: 0 0 61%;
        }

        &__map {
            margin-top: rem(-61px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    @include media-breakpoint-up(xl) {
    }
}