.cookies {
    text-align: center;
    padding-top: rem(26px);
    padding-bottom: rem(31px);

    &__text {
        @include em-line-height($font-size-base, $line-height-lg);
        margin-bottom: rem(29px);
    }

   @include media-breakpoint-up(xl) {
       text-align: left;
       padding-top: rem(13px);
       padding-bottom: rem(12px);
       margin-top: auto;

       &__container {
           display: flex;
           align-items: center;
       }

       &__text {
           max-width: 68%;
           margin-right: 9%;
           margin-bottom: 0;
       }
   }
}