.cover {
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: $white;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background: rgba($base-color, .925);
        z-index: -1;
    }

    &__bg-img {
        @extend %cover-image;
        z-index: -2;
        filter: blur(4px);
    }

    &--light {
        &:before {
            background: rgba($base-color, .56);
        }

        .section__title {
            color: $white;
        }
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(2xl) {
    }
}