.dealers {
    &__sorting {
        margin-bottom: rem(35px);
    }

    &__map {
        height: 460px;
        margin-left: rem(- $gutter-xs);
        margin-right: rem(- $gutter-xs);
        margin-bottom: rem(44px);
    }

    &__list {
        margin-bottom: rem(-18px);
    }

    &__item {
        margin-bottom: rem(18px);
    }

    &__pagination {
        margin-top: rem(48px);
    }

    @include media-breakpoint-up(xl) {
        &__sorting {
            margin-bottom: rem(46px);
        }

        &__map {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: rem(53px);
        }

        &__list {
            margin-bottom: rem(-26px);
        }

        &__item {
            margin-bottom: rem(26px);
        }
    }
}