.faq {
    &__item {
        margin-bottom: rem(21px);
    }

    &__question {
        position: relative;
        cursor: pointer;
        background-color: $gray;
        margin-bottom: rem(14px);
        padding: rem(11px 41px 15px 15px);
        border-radius: $border-radius;
        @include font($font-size-h3, $line-height-h4);

        &:after {
            position: absolute;
            top: 50%;
            right: rem(11px);
            font-size: rem(19px);
            transform: translateY(-50%) rotate(180deg);
            transition: transform .25s ease-in-out;
        }

        .faq__item.is-collapsed & {
            &:after {
                transform: translateY(-50%) rotate(0);
            }
        }
    }

    &__answer {
        margin-bottom: rem(29px);

        .faq__item.is-collapsed & {
            display: none;
        }
    }

    @include media-breakpoint-up(lg) {
        &__item {
            margin-bottom: rem(14px);
        }

        &__question {
            padding-left: rem(22px);
            padding-right: rem(61px);
            @include font($font-size-h4, $line-height-h4);

            &:after {
                right: rem(19px);
                font-size: rem(23px);
            }
        }

        &__answer {
            margin-bottom: rem(38px);
            padding-left: rem(22px);
            padding-right: rem(61px);
        }
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: rem(120px);
    }
}