.filters {
    position: fixed;
    top: 0;
    left: 0;
    max-height: 100vh;
    max-width: rem(375px);
    width: 100%;
    background-color: $white;
    display: flex;
    flex-direction: column;
    overflow: auto;
    visibility: hidden;
    transition: .3s ease-in-out;
    transform: translateX(-100%);
    z-index: 200;

    &.is-visible {
        visibility: visible;
        transform: translateX(0);
    }

    &__header,
    &__footer {
        position: sticky;
        left: 0;
        right: 0;
        z-index: 1;
    }

    &__header {
        display: flex;
        align-items: center;
        padding: rem(19px $gutter-xs 16px);
        top: 0;
    }

    &__title {
        @include font($font-size-h3, $line-height-base, $font-weight-bold);
        margin-right: auto;
        margin-bottom: 0;
    }

    &__close {
        display: block;
        font-size: rem(18px);
        flex: 0 0 rem(18px);
        margin-right: rem(23px);
        color: inherit;
    }

    &__body {
        padding-top: rem(24px);
        flex: 1;
    }

    &__item {
        margin-bottom: rem(19px);
        padding-left: rem($gutter-xs);
        padding-right: rem($gutter-xs);
        padding-bottom: rem(20px);
        border-bottom: 1px solid $gray-3;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__footer {
        bottom: 0;
        padding: rem(32px $gutter-xs 35px);
        background-color: rgba($white, .8);
        backdrop-filter: blur(10px);
    }

    &__button + &__button {
        margin-top: rem(15px);
    }

    @include media-breakpoint-up(xl) {
        position: static;
        z-index: initial;
        visibility: visible;
        transition: none;
        transform: none;
        display: block;
        width: auto;
        max-height: none;
        max-width: rem(200px);

        &__header {
            display: none;
        }

        &__body {
            padding-top: 0;
        }

        &__item {
            padding-left: 0;
            padding-right: 0;
            margin-bottom: rem(16px);
            padding-bottom: rem(24px);

            &:last-child {
                border-bottom-width: 0;
            }
        }

        &__footer {
            padding: rem(6px 0 0);
        }
    }
}