.heading {
    padding-top: rem(30px);
    margin-bottom: rem(33px);

    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__breadcrumb {
        width: 100%;
        margin-top: rem(-11px);
    }

    h1 {
        margin-bottom: 0;
        flex: 1;
        padding-right: rem(10px);
        text-align: center;
    }

    &__controls {
        margin-left: auto;
        position: relative;

        .select2-container {
            top: 100% !important;
            left: -161px !important;
            z-index: 2;
        }

        .select2-container--default .select2-dropdown.select2-dropdown--below {
            border-top-left-radius: $input-border-radius;
            border-top-right-radius: $input-border-radius;
            border-top-color: $input-border-color;
            margin-top: rem(12px);
            padding-top: rem(8px);
        }
    }

    &__control {
        font-size: rem(24px);
    }

    &__control + &__control {
        margin-left: rem(10px);
    }

   @include media-breakpoint-up(xl) {
       padding-top: rem(26px);
       margin-bottom: rem(31px);

       &__breadcrumb {
           margin-top: 0;
           margin-bottom: rem(20px);
       }

       &__controls {
           display: none;
       }

       h1 {
           text-align: left;
       }
   }
}