.hero {
    display: none;

   @include media-breakpoint-up(xl) {
       display: block;

       &__slide {
           color: inherit;
           text-decoration: none;
       }

       &__container {
           display: flex;
           align-items: center;
           min-height: 599px;
       }

       &__img {
           display: block;
           margin-left: auto;
           margin-right: auto;
       }

       &__body {
           max-width: rem(370px);
           flex: 0 0 rem(370px);
           margin-right: rem(70px);
       }

       &__title {
           @include font(50px, 50.01px);
           margin-bottom: rem(15px);
           text-transform: uppercase;
       }

       &__description {
           @include font($font-size-h1, 45.01px);
       }

       .slick-prev {
           left: rem(40px);
       }

       .slick-next {
           right: rem(40px);
       }

       .slick-dots {
           margin-top: rem(-39px);
       }

       &.slick-initialized.slick-slider.slick-dotted {
           margin-bottom: 0;
       }
   }
}