.intro {
    &__picture-col {
        order: -1;
    }

    &__picture {
        position: relative;
        overflow: hidden;
        margin-left: rem(- $gutter-xs);
        margin-right: rem(- $gutter-xs);
        margin-bottom: rem(30px);
        height: 188px;
    }

    &__img {
        @extend %cover-image;
    }

    &__title {
        text-align: center;
        margin-bottom: rem(29px);
    }

    p {
        @include margin-bottom(1.5em);
    }

    @include media-breakpoint-down(lg) {
        padding-bottom: 0;
    }

    @include media-breakpoint-up(xl) {
        margin-top: rem(-35px);

        &__container {
            &:after {
                display: block;
                content: '';
                border-bottom: 1px solid $gray-5;
                margin-top: rem(34px);
            }
        }

        &__picture-col {
            order: initial;
        }

        &__picture {
            margin: rem(8px) 0 0;
            height: 100%;
            min-height: 491px;
            align-self: center;
        }

        &__body {
            padding-right: rem($gutter-xl * 1.5);
        }

        &__title {
            text-align: left;
            margin-bottom: rem(31px);
        }
    }
}