.news {
    &__list {
        margin-bottom: rem(-15px);
        padding-bottom: 1px;
    }

    &__item {
        margin-bottom: rem(15px);
    }

    &__pagination {
        margin-top: rem(43px);
    }

    &__aside {
        order: -1;
        margin-top: rem(-19px);
        margin-bottom: rem(48px);

        &-section {
            @include font($font-size-lg, 30.01px);
            @include margin-bottom(rem(30px));
        }

        &-title {
            display: inline;
            font-weight: $font-weight-bold;
            margin-right: rem(9px);
        }

        &-list {
            @include list-unstyled;
            display: inline;
        }

        &-item {
            display: inline;
            margin-right: rem(14px);
        }

        &-link {
            text-decoration: none;

            @include hover-focus {
                text-decoration: underline;
            }
        }

        &-social {
            display: inline-flex;
            vertical-align: middle;
            margin-top: -4px;
        }
    }

    @include media-breakpoint-up(sm) {
        &__list {
            margin-bottom: rem(-20px);
        }

        &__item {
            margin-bottom: rem(20px);
        }
    }

    @include media-breakpoint-up(xl) {
        &__list {
            margin-bottom: rem(-47px);
            max-width: 940px;
            justify-content: space-between;
        }

        &__item {
            margin-bottom: rem(47px);
        }

        &__pagination {
            margin-top: rem(55px);
            justify-content: flex-end;
        }

        &__aside {
            order: initial;
            margin-top: rem(-6px);

            &-section {
                @include font($font-size-base, 30.01px);
            }

            &-title {
                display: block;
                margin-right: 0;
            }

            &-list {
                @include list-unstyled;
                display: block;
            }

            &-item {
                display: block;
                margin-right: 0;
            }

            &-social {
                display: flex;
                margin-top: rem(4px);
            }
        }

        &__article {
            max-width: 870px;
        }

        .section__slider {
            margin-bottom: rem(22px);
        }

        .section__action {
            padding-top: rem(31px);
        }
    }
}