.product {
    margin-top: rem(-9px);
    padding-bottom: rem(60px);

    &__main {
        position: relative;
        padding-bottom: rem(51px);

        &:after {
            position: absolute;
            bottom: 0;
            left: rem(- $gutter-xs / 2);
            right: rem(- $gutter-xs / 2);
            content: '';
            border-top: 1px solid $gray-3;
        }

        .is-session & {
            padding-bottom: rem(28px);
        }
    }

    &__media {
        margin-bottom: rem(24px);
    }

    &__picture {
        position: relative;
        overflow: hidden;
        border: 1px solid $gray-2;
        border-radius: $border-radius-md;
    }

    &__slider {
        &-item {
            padding: rem(15px);
        }
    }

    &__stickers {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    .sticker {
        border-top-right-radius: $border-radius-md;
    }

    &__options {
        position: absolute;
        left: rem(12px);
        bottom: rem(16px);
        z-index: 1;

        &-item {
            display: block;
            font-size: rem(23px);
            margin-top: rem(5px);
            text-align: center;

            &.icon-360 {
                font-size: rem(31px);
            }
        }
    }

    &__slider {
        &.slick-initialized .slick-slide {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__thumbs {
        display: none;
    }

    &__header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: rem(23px);
    }

    &__title {
        width: 100%;
        margin-bottom: rem(15px);
        letter-spacing: -.04em;
    }

    &__brand {
        &-img {
            display: block;
        }
    }

    &__code {
        width: 100%;
        margin-top: rem(14px);
    }

    &__footer {
        overflow: hidden;
        margin-bottom: rem(22px);

        .is-session & {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }

        .is-session & {
            margin-bottom: rem(39px);
        }
    }

    &__recommended {
        float: left;
        margin-bottom: rem(23px);
        max-width: rem(11em);

        &-price {
            margin-bottom: 0;
            line-height: 1;
        }

        &-note {
            @include font($font-size-sm, $font-size-sm);
            margin-top: rem(7px);
            margin-right: rem(-3em);
            letter-spacing: -.04em;

            .is-session & {
                margin-right: 0;
            }
        }

        .is-session & {
            float: none;
            max-width: none;
            margin-bottom: rem(30px);
        }
    }

    &__price {
        @include font(28px, 28.01px, $font-weight-bold);
    }

    &__compare {
        float: right;

        &-icon {
            font-size: rem(20px);
            margin-right: rem(7px);
            vertical-align: text-bottom;
            top: -1px;
        }

        .is-session & {
            float: none;
        }
    }

    &__amount {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: rem(46px);
        margin-bottom: rem(28px);

        &-label {
            @include em-line-height($font-size-base, $line-height-md);
            max-width: 5em;
            margin-right: rem(54px);
        }
    }

    &__button {
        float: left;
        clear: both;
        min-width: rem(180px);
    }

    &__option {
        margin-bottom: rem(22px);

        .is-session & {
            margin-bottom: rem(28px);
        }
    }

    &__info {
        letter-spacing: -.04em;

        &-label {
            font-weight: $font-weight-bold;
            margin-bottom: rem(5px);
        }

        &-details {
            @include em-line-height($font-size-base, $line-height-lg);
        }
    }

    &__tabs {
        margin-top: rem(23px);
    }

    &__description {
        @include em-line-height($font-size-base, $line-height-md);

        p {
            @include margin-bottom(rem($line-height-md));
        }
    }

    &__comments {
        &-form {
            margin-top: rem(52px);
        }
    }

    @include media-breakpoint-down(md) {
        &__title {
            @include font($font-size-h2, $line-height-base);
        }
    }

    @include media-breakpoint-up(sm) {
        &__footer {
            overflow: visible;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: rem(24px);
        }

        &__recommended {
            width: 100%;
            max-width: none;
        }

        &__price {
            width: 50%;
        }

        &__amount {
            width: 60%;
            margin-top: rem(46px);
            margin-bottom: 0;
        }

        &__button {
            margin-right: rem(35px);

            .is-session & {
                margin-top: rem(46px);
                margin-right: 0;
            }
        }

        &__compare {
            float: none;
            order: 10;

            .is-session & {
                order: initial;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__tabs {
            margin-top: rem(38px);

            &-content {
                padding-left: rem(40px);
            }
        }

        &__features {
            max-width: 50em;
        }

        &__comments {
            &-body {
                max-width: calc(100% - 399px);
                flex: 0 0 calc(100% - 399px);
            }

            &-list {
                max-height: 520px;
                position: relative;
                margin-top: rem(-14px);
                margin-bottom: 0;
                padding-top: rem(23px);
                padding-right: rem(100px);

                .comments__item:last-child {
                    margin-bottom: 0;
                }
            }

            &-form {
                margin-top: rem(-8px);
                max-width: 399px;
                flex: 0 0 399px;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        margin-top: 0;

        &__main {
            padding-bottom: rem(22px);

            &:after {
                left: rem($gutter-xl / 2);
                right: rem($gutter-xl / 2);
            }

            .is-session & {
                padding-bottom: rem(59px);
            }
        }

        &__media {
            max-width: 630px;
            display: flex;
            margin-bottom: 0;
        }

        &__picture {
            border-radius: $border-radius-lg;
            height: 478px;
        }

        .sticker {
            border-top-right-radius: $border-radius-lg;
        }

        &__options {
            left: rem(12px);
            bottom: rem(16px);

            &-item {
                &.icon-360 {
                    font-size: rem(40px);
                }
            }
        }

        &__slider {
            flex: 0 0 calc(100% - 121px);
        }

        &__thumbs {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 101px;
            flex: 0 0 calc(101px);
            margin-right: 22px;

            &-item {
                @include size(101px);
                position: relative;
                overflow: hidden;
                border: 1px solid $gray-2 !important;
                border-radius: $border-radius-md;
                margin-bottom: 13px;

                &.slick-current {
                    &:after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        content: '';
                        background-color: rgba($base-color, .639);
                    }
                }
            }

            &-img {
                position: absolute;
                min-width: 100%;
                min-height: 100%;
                max-width: 110%;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                @include size(110%);
            }

            &.slick-initialized .slick-slide {
                height: 101px;
            }
        }

        &__body {
            max-width: 530px;

            .is-session & {
                display: flex;
                flex-direction: column;
            }
        }

        &__header {
            margin-top: rem(-8px);
            margin-bottom: rem(35px);
        }

        &__title {
            width: 80%;
            order: -2;
            margin-bottom: rem(11px);
        }

        &__rating-stars {
            order: -1;
            align-self: flex-start;
            margin-top: rem(3px);
        }

        &__code {
            order: 0;
            width: 100%;
            margin-top: 0;
            margin-bottom: rem(28px);
        }

        &__brand {
            order: 1;
            width: 100%;
        }

        &__recommended {
            margin-bottom: rem(31px);

            &-note {
                @include font($font-size-2xs, $font-size-sm);
                margin-top: rem(8px);
                margin-right: 0;
            }

            .is-session & {
                margin-bottom: rem(20px);
            }
        }

        &__option {
            margin-bottom: rem(16px);

            .is-session & {
                margin-bottom: rem(-2px);
            }
        }

        &__compare {
            .is-session & {
                display: inline-block;
                @include font($font-size-sm, $line-height-sm);
                letter-spacing: -.04em;
                margin-bottom: rem(16px);
            }
        }

        &__footer {
            .is-session & {
                order: 10;
                margin-top: rem(29px);
                margin-bottom: 0;
            }
        }

        &__price {
            font-size: rem($font-size-h2);
            width: auto;
        }

        &__amount {
            width: auto;
            margin-top: 0;
            margin-left: rem(15px);
            margin-right: rem(15px);

            &-label {
                @include font($font-size-md, 17.01px);
                margin-right: rem(5px);
                letter-spacing: -.04em;
            }
        }

        &__button {
            .is-session & {
                margin-top: 0;
            }
        }

        &__tabs {
            margin-top: rem(38px);
        }

        &__description {
            @include font($font-size-sm, $line-height-2xs);

            p {
                @include margin-bottom(rem($line-height-2xs));
            }
        }
    }
}