.search-results {
    padding-bottom: rem(73px);

    &__pagination {
        margin-top: rem(38px);
    }

    @include media-breakpoint-up(sm) {
    }

   @include media-breakpoint-up(xl) {
       padding-bottom: rem(127px);

       &__pagination {
           margin-top: rem(50px);
       }
   }
}