.section {
    position: relative;
    padding-top: rem(45px);
    padding-bottom: rem(37px);
    z-index: 1;

    .heading + & {
        padding-top: 0;
    }

    &__menu {
        margin-top: rem(-8px);
        margin-bottom: rem(39px);
    }

    &__title {
        text-align: center;
        color: $primary;
    }

    &__slider {
        margin-left: rem(-20px);
        margin-right: rem(-20px);

        .slick-list {
            margin-top: rem(-40px);
            margin-bottom: rem(-40px);
            padding-top: rem(40px);
            padding-bottom: rem(40px);
        }

        .slick-dots {
            margin-top: rem(-12px);
        }
    }

    &__slide {
        width: rem(320px);
        padding-left: rem(25px);
        padding-right: rem(25px);
        margin-bottom: rem(15px);
    }

    &__action {
        text-align: center;
        padding-top: rem(35px);
    }

    &__logo {
        display: none;
    }

    &__img {
        display: block;
        margin: 0 auto;
    }

    @include media-breakpoint-down(lg) {
        &__slider--desktop {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__slide {
            .section__slider--desktop & {
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__slider {
            margin-left: auto;
            margin-right: auto;
            max-width: rem(960px);
        }
    }

    @include media-breakpoint-up(xl) {
        padding-top: rem(54px);
        padding-bottom: rem(53px);

        &__menu {
            margin-top: rem(7px);
            margin-bottom: rem(48px);
        }

        &__slider {
            padding-left: rem(54px);
            padding-right: rem(54px);
            max-width: rem(1068px);

            .slick-dots {
                margin-top: rem(28px);
            }
        }

        &__action {
            padding-top: rem(53px);
        }

        &__logo {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            z-index: -1;
        }

        &__img {
            margin-top: rem(6px);
            margin-bottom: rem(25px);
        }

        &--spaced {
            padding-bottom: rem(143px);
        }
    }
}