.seo {
    :not([class*="theme"]) + & {
        padding-top: rem(20px);
        padding-bottom: rem(57px);
    }

    @include media-breakpoint-up(xl) {
        :not([class*="theme"]) + & {
            padding-top: 0;
            padding-bottom: rem(67px);
        }
    }
}