.sorting {
    &__group {
        margin-bottom: rem(14px);
    }

    &__button {
        display: block;
        margin-top: rem(9px);
        margin-left: auto;
        margin-right: auto;
        min-width: rem(140px);
    }

    @include media-breakpoint-up(sm) {
        &__button {
            margin-top: 0;
            margin-right: 0;
        }
    }

    @include media-breakpoint-up(lg) {
        &__select {
            &--lg {
                width: rem(250px);
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__group {
            display: flex;
            align-items: center;
        }

        &__label {
            margin-right: rem(15px);
        }

        &__control {
            display: flex;
            align-items: center;
            color: inherit;
            text-decoration: none;

            &-icon {
                font-size: rem(26px);
                margin-right: rem(10px);

                &.icon-menu {
                    font-size: rem(34px);
                    margin-right: rem(13px);
                }
            }

            &.is-active {
                color: $primary;
            }
        }

        &__control + &__control {
            margin-left: rem($gutter-xl);
        }
    }
}