.values {
    padding-bottom: rem(45px);

    &__list {
        @include list-unstyled;
        margin-top: rem(-14px);
    }

    &__item {
        margin-bottom: -1px;
    }

    @include media-breakpoint-up(md) {
        &__list {
        }

        &__item {
            margin-right: -1px;
        }
    }

    @include media-breakpoint-up(xl) {
        padding-bottom: rem(94px);

        &__list {
            margin-top: 0;
        }
    }
}