<div class="section about">
  <div class="container container--lg">
    <div class="row align-items-xl-center justify-xl-between">
      <div class="about__picture col-xs-12 col-xl-5">
        <img src="/assets/img/temp/about.jpg" alt="" class="about__img">
      </div>

      <div class="about__content col-xs-12 col-xl-7">
        <h2 class="about__title text-primary h1">ООО «Акцент Груп»</h2>
        <p>Компания «Акцент Груп» — дистрибьютор качественных европейских товаров для школы и офиса. В арсенале компании три известные немецкие торговые марки: KITE (модные современные рюкзаки, ранцы, сумки, пеналы для школы и молодежи, канцелярия), GoPack (школьные ранцы и молодежные рюкзаки средней ценовой категории), Axent (стильные и оригинальные канцтовары для офиса). <br>Компания несет ответственность за каждый свой шаг, заботится о клиентах и следит за неизменным уровнем качества продукции.<br>Плодотворное, взаимовыгодное сотрудничество позволяет развиваться как нам, так и нашим клиентам. Наши традиционно сильные стороны — это качество товара, доступная цена, востребованность на рынке и широкий ассортимент.</p>
      </div>
    </div>
  </div>
</div>