<div class="section benefits {{ benefitsClass }} {{ visibilityClass }}">
  <div class="container">
    {% if sectionTitle %}
      <h2 class="section__title h1">{{ sectionTitle }}</h2>
    {% endif %}
    <div class="benefits__list row justify-xs-center justify-xl-between">
      {% for item in benefits %}
        <div class="benefits__item col">
          {{ svg.icon(item.icon, 'benefits__item-icon') }}
          <div class="benefits__item-title">{{ item.title }}</div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>