<a href="brand.html" class="brand-card link-inherit">
  <div class="brand-card__picture">
    <img src="/assets/img/temp/brands/{{ item.image }}.png" alt="" class="brand-card__img">
  </div>
  <div class="brand-card__content">
    <h3 class="brand-card__title">{{ item.title }}</h3>
    <p class="brand-card__text">{{ item.text }}</p>
  </div>
</a>
