<div class="section brands">
  <div class="container">
    <h2 class="section__title h1">Бренды</h2>

    <div class="brands__list row row--compact">
      {% for item in brands %}
        <a href="brand.html" class="brands__item col-xs-12 col-md-4">
          <img src="/assets/img/temp/brands/{{ item.image }}.png" alt="Логотип {{ item.name }}" class="brands__item-img">
        </a>
      {% endfor %}
    </div>
  </div>
</div>