<div class="item-card">
  {% if stickers %}
    {% if stickers == 'hit' %}
      {% set stickerText = 'Хит продаж'%}

      {% elseif stickers == 'new' %}
      {% set stickerText = 'Новинка'%}

      {% elseif stickers == 'sale' %}
      {% set stickerText = 'Распродажа'%}

      {% elseif stickers == 'mixed' and loop.index is odd %}
      {% set stickers = 'hit'%}
      {% set stickerText = 'Хит продаж'%}

      {% elseif stickers == 'mixed' and loop.index is even %}
      {% set stickers = 'new'%}
      {% set stickerText = 'Новинка'%}

    {% endif %}
    <div class="item-card__stickers stickers">
      <div class="stickers__item sticker sticker--{{ stickers }}">{{ stickerText }}</div>
    </div>
  {% endif %}

  <div class="item-card__picture">
    <a href="catalog-item.html">
      <img src="/assets/img/temp/catalog/items/1.png" alt="" class="item-card__img item-card__img--default">
      <img src="/assets/img/temp/catalog/items/2.png" alt="" class="item-card__img item-card__img--hover">
    </a>

    <div class="item-card__options">
      <i class="item-card__option icon-360" title=""></i>
      <i class="item-card__option icon-play" title=""></i>
    </div>
  </div>

  <div class="item-card__body">
    <h4 class="item-card__title">
      <a href="catalog-item.html" class="item-card__title-link">Карандаши акварельные Albrecht Durer Faber-Castell 120 цветов</a>
    </h4>

    <div class="item-card__info text-muted">
      {% if isSession == true %}
        20 шт. в коробке<br>
      {% endif %}
      Арт. 123456789
    </div>

    {% if isSession %}
      {% if loop.index == 1 or loop.index == 2 %}
        <div class="item-card__availability text-success">В наличии</div>
        {% elseif loop.index is not odd %}
        <div class="item-card__availability text-primary">Отсутствует на складе</div>
      {% endif %}
    {% endif %}
  </div>

  <div class="item-card__footer">
    <div class="item-card__pricebar align-items-xs-bottom">
      <div class="item-card__prices">
        <div class="item-card__price h3">25 900 ₽</div>
        {#<div class="item-card__price-old">24 900 ₽</div>#}
        {% if isSession != true %}
          <div class="item-card__note">Рекомендованная розничная цена</div>
        {% endif %}
      </div>

      {% if isSession == true %}
        <a href="#" class="item-card__link"><i class="item-card__link-icon icon-star"></i>Сравнить</a>
      {% endif %}
    </div>

    <div class="item-card__row align-items-xs-center">
      {% if isSession != true %}
        <a href="#" class="item-card__link"><i class="item-card__link-icon icon-star"></i>Сравнить</a>
        <a href="#" class="item-card__link">Где купить?</a>

        {% else %}

        <div class="item-card__amount-form amount-form" data-component="amount-form">
          <button class="amount-form__control icon-minus" data-element="dec-control" type="button"></button>
          <input type="text" class="amount-form__input form__input" value="1" data-element="amount-input" data-min="1">
          <button class="amount-form__control icon-plus" data-element="inc-control" type="button"></button>
          <div class="amount-form__note">Мин. отгрузка: 5 шт.</div>
        </div>

        <button class="item-card__button button button--outline-primary" title="Купить" data-mfp-src="#modal-cart" data-element="modal-trigger"><i class="button__icon icon-basket"></i></button>
      {% endif %}
    </div>
  </div>
</div>