<div class="catalog__sorting sorting row justify-xs-between">
  <div class="sorting__group col">
    <div class="sorting__label">Сортировать по:</div>
    <div class="sorting__select sorting__select--lg">
      <select data-element="select" data-id="sorting" data-placeholder="Выберите тип сортировки">
        <option></option>
        {% for item in catalog.sortingSelect %}
          <option value="{{ loop.index }}">{{ item }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="sorting__group col hidden-lg-down">
    <a href="catalog{% if isSession %}-logged{% endif %}.html" class="sorting__control {% if listGrid %}is-active{% endif %}">
      <i class="sorting__control-icon icon-grid"></i>Таблица
    </a>
    <a href="catalog-list{% if isSession %}-logged{% endif %}.html" class="sorting__control {% if not listGrid %}is-active{% endif %}" >
      <i class="sorting__control-icon icon-menu"></i>Список
    </a>
  </div>

  <div class="sorting__group sorting__group--tags col">
    <div class="sorting__label">Показывать по:</div>
    <div class="sorting__select">
      <select data-element="select">
        {% for item in [9, 16, 24, 36, 50] %}
          <option value="{{ loop.index }}">{{ item }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>
