<div class="section {{ sectionClass }} catalog {{ sectionTheme }}">
  <div class="container">
    <h2 class="section__title h1">{{ sectionTitle }}</h2>

    <div class="section__slider" data-slider="slider">
      {% for i in 1..6 %}
        <div class="section__slide slick-slide">
          {% include '_catalog-item.twig' with { stickers: stickers } %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>