<div class="{{ commentsClass }} comment {% if loop.index > 3 %}hidden{% endif %}">
  <div class="comment__header">
    <div class="comment__avatar">{{ comment.author|first }}</div>
    <div class="comment__name">{{ comment.author }}</div>

    <div class="comment__date">{{ comment.date }}</div>

    <div class="comment__rating-stars rating-stars" data-rate="{{ comment.rating }}">
      {% for i in 1..5 %}
        <i class="rating-stars__star"></i>
      {% endfor %}
    </div>
  </div>

  <div class="comment__body">
    <p>{{ comment.text }}</p>
  </div>
</div>
