<div class="cookies">
  <div class="cookies__container container container--lg">
    <div class="cookies__text text-primary">Этот сайт использует файлы cookie с целью повышения удобства для пользователя, а именно — дополнения функциями социальных сетей, статистического анализа и выбора сторонних сервисов. Более подробную информацию см. на странице Политика конфиденциальности</div>
    <button class="cookies__button button button--outline-primary">Принимаю</button>
  </div>
</div>