<div class="catalog__filters filters" data-component="filters">
  <div class="filters__header theme-primary">
    <button class="filters__close icon-close" data-element="filters-close"></button>
    <div class="filters__title">Фильтры</div>
    <a href="#" class="filters__clear-link link-inherit">Сбросить все</a>
  </div>

  <div class="filters__body">
    <div class="filters__list">
      {% for filter in catalog.filters %}
        <div class="filters__item filter{% if filter.collapsible %} filter--collapsible{% endif %}" {% if filter.collapsible %}data-component="panel"{% endif %}>
          <div class="filter__title" {% if filter.collapsible %}data-element="panel-toggle"{% endif %}>{{ filter.title }}</div>

          <div class="filter__body" {% if filter.collapsible %}data-element="panel-content"{% endif %}>

            {% if filter.type == 'range' %}
              <div class="filter__slider" data-component="range">
                <div class="filter__slider-controls">
                  <label for="from">от</label>
                  <input type="text" id="from" maxlength="6" value="500" class="form__input" data-element="range-input-from">
                  <label for="to">до</label>
                  <input type="text" id="to" maxlength="6" value="10000" class="form__input " data-element="range-input-to">
                </div>
                <div class="filter__slider-range range-slider">
                  <input type="text" value="" data-element="range-slider" data-min="0" data-max="15000" data-step="500" data-from="500" data-to="10000">
                </div>
              </div>

              {% elseif filter.type == 'list' %}

              <div data-component="show-all">
                <ul class="filter__list" >
                  {% for option in filter.list %}
                    <li class="filter__item {% if loop.index > 3 %} hidden {% endif %}" {% if loop.index > 3 %} data-element="hidden-element" {% endif %}>
                      <label class="custom-control custom-control--lg custom-checkbox">
                        <input type="checkbox" class="custom-control__input" name="filter-{{ item.id }}-{{ loop.index }}" value="{{ loop.index }}" {% if loop.first %} checked {% endif %}>
                        <span class="custom-control__indicator"></span>
                        <span class="custom-control__text">{{ option }}</span>
                      </label>
                    </li>
                  {% endfor %}
                </ul>
                {% if filter.list|length > 3 %}
                  <div class="filter__action">
                    <a href="#" class="filter__action-link" data-text-on="Показать все" data-text-off="Скрыть список" data-element="show-all-toggle">Показать все</a>
                  </div>
                {% endif %}
              </div>

              {% else %}

              <ul class="filter__list filter__list--colors">
                {% for color in filter.list %}
                  <li class="filter__item filter__item--color">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control__input" name="filter-{{ item.id }}-{{ loop.index }}" value="{{ loop.index }}">
                      <span class="custom-control__color {% if color.style == 'light' %}custom-control__color--light{% endif %}" style="background-color:#{{ color.code }}" title="{{ color.name }}"></span>
                    </label>
                  </li>
                {% endfor %}
              </ul>

            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="filters__footer">
    <button class="filters__button button button--outline-primary button--block">Применить</button>
    <button class="filters__button button button--outline-base button--block hidden-lg-down">Сбросить</button>
  </div>
</div>