<div class="hero" data-slider="hero">
  {% for i in 1..6 %}
    <a href="#" class="hero__slide slick-slide" style="background-color: #e2e8eb;">
      <div class="hero__container container">
        <div class="hero__body">
          <h1 class="hero__title">Parker</h1>
          <p class="hero__description">Ручка шариковая, металлический корпус в&nbsp;трёх цветах</p>
        </div>
        <img src="/assets/img/temp/hero.jpg" alt="" class="hero__img">
      </div>
    </a>
  {% endfor %}
</div>