<div id="modal-cart" class="modal modal--cart mfp-hide mfp-with-anim">
  <div class="basket row justify-lg-between">
    <div class="basket__section basket__main col-xs-12 col-lg-7">
      <h2 class="basket__title text-primary h1">Товар добавлен в&nbsp;корзину:</h2>
      <div class="basket__item basket-item">
        <a href="catalog-item.html" class="basket-item__picture">
          <img src="/assets/img/temp/catalog/items/1.png" alt="" class="basket-item__img">
        </a>

        <div class="basket-item__body">
          <div class="basket-item__header">
            <div class="basket-item__title"><a href="catalog-item" class="basket-item__title-link">Карандаши акварельные Albrecht Durer Faber-Castell 120 цветов</a></div>
            <div class="basket-item__info text-muted">Арт. 123456789</div>
          </div>

          <div class="basket-item__order">
            <div class="basket-item__price">25 900 ₽</div>
            <div class="basket-item__amount">Количество: 5 шт.</div>
            <div class="basket-item__sum">Итого: 119 400 ₽</div>
          </div>

          <div class="basket-item__action">
            <button class="basket-item__button button button button--outline-base" data-element="modal-trigger">Продолжить покупки</button>
            <a href="cart.html" class="basket-item__button button button button--outline-primary">Перейти в корзину</a>
          </div>
        </div>
      </div>
    </div>

    <div class="basket__section basket__aside col-lg-5 hidden-md-down">
      <h2 class="basket__title h1">Ваша корзина:</h2>
      <div class="basket__items" data-perfect-scrollbar>
        <ul class="mini-cart">
          {% for i in 1..5 %}
            <li class="mini-cart__item">
              <a href="catalog-item.html" class="mini-cart-item">
                <div class="mini-cart-item__picture">
                  <img src="/assets/img/temp/catalog/items/1.png" alt="" class="mini-cart-item__img">
                </div>

                <div class="mini-cart-item__body">
                  <div class="mini-cart-item__price">25 900 ₽</div>
                  <div class="mini-cart-item__title">Карандаши акварельные Albrecht Durer Faber-Castell</div>
                  <div class="mini-cart-item__info text-muted">Арт. 123456789</div>
                  <div class="mini-cart-item__amount">Количество: 1 шт.</div>
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>