<div class="section news {{ sectionTheme }}">
  <div class="container">
    <h2 class="section__title h1">{{ sectionTitle }}</h2>

    <div class="section__slider {% if isDesktop %}section__slider--desktop{% endif %}" data-slider="slider{% if isDesktop %}-desktop{% endif %}">
      {% for i in 1..6 %}
        <div class="section__slide slick-slide">
          {% include '_news-card.twig' %}
        </div>
      {% endfor %}
    </div>

    {% if sectionAction != false %}
      <div class="section__action">
        <a href="#" class="section__action-button button button--primary">Все новости</a>
      </div>
    {% endif %}

  </div>

  {% if logoStamp %}
    <img src="/assets/img/logo-axent-group-2.svg" alt="Axent Group" class="section__logo">
  {% endif %}
</div>