<a href="news-article.html" class="news-card link-inherit">
  <div class="news-card__picture">
    <img src="/assets/img/temp/news/1.jpg" alt="" class="news-card__img">
  </div>
  <div class="news-card__content">
    <h3 class="news-card__title">Заголовок новости в одну или две строчки</h3>
    <p class="news-card__text">Небольшой текстовый блок с анонсом новости в две или три строки</p>
    <p class="news-card__more">Читать далее</p>
  </div>
</a>
