<div class="pagination {{ class }}">
    <ul class="pagination__list">
      <li class="pagination__item">
        <a href="#" class="pagination__link pagination__link--control icon-prev" title="Назад"></a>
      </li>

      {% for i in 1..4 %}
        <li class="pagination__item">
          <a href="#" class="pagination__link {% if loop.first %} is-selected {% endif %}">{{ i }}</a>
        </li>
      {% endfor %}

      <li class="pagination__item">
        <a href="#" class="pagination__link pagination__link--control icon-next" title="Вперед"></a>
      </li>
    </ul>
</div>
