<div class="section seo">
  <div class="container">
    <h2>Заголовок Н2</h2>
    <p>Компания «Акцент Груп» — дистрибьютор качественных европейских товаров для школы и офиса. В арсенале компании три известные немецкие торговые марки: KITE (модные современные рюкзаки, ранцы, сумки, пеналы для школы и молодежи, канцелярия), GoPack (школьные ранцы и молодежные рюкзаки средней ценовой категории), Axent (стильные и оригинальные канцтовары для офиса). <br>Компания несет ответственность за каждый свой шаг, заботится о клиентах и следит за неизменным уровнем качества продукции. <br>Плодотворное, взаимовыгодное сотрудничество позволяет развиваться как нам, так и нашим клиентам. Наши традиционно сильные стороны — это качество товара, доступная цена, востребованность на рынке и широкий ассортимент.</p>
  </div>
</div>