<ul class="{{ socialClass }} social__list">
  {% for item in company.social %}
    <li class="social__item">
      <a href="#" class="social__link icon-{{ item.icon }}" title="{{ item.title }}"></a>
    </li>
  {% endfor %}
</ul>