.categories-menu {
    @include media-breakpoint-up(2xl) {
        display: flex;
        @include list-unstyled;
        text-align: center;
        margin-left: rem(-20px);
        margin-right: rem(-20px);

        &__item {
            @include font($font-size-2xs, $line-height-2xs);
            min-width: rem(96px);
        }

        &__link {
            display: block;
            position: relative;
            color: inherit;
            text-decoration: none;
            padding: rem(11px 4px 9px);
            height: 100%;

            @include hover-focus {
                background-color: $black;
            }
        }

        &__icon {
            display: block;
            margin-left: auto;
            margin-right: auto;
            @include size(rem(42px));
            margin-bottom: rem(6px);
        }
    }

    @include media-breakpoint-up(3xl) {
        margin-left: rem(-40px);
        margin-right: rem(-60px);

        &__item {
            @include font($font-size-xs, $line-height-xs);
        }
    }
}