.footer {
    position: relative;
    text-align: center;
    z-index: 2;

    &__container {
        padding-top: rem(60px);
        padding-bottom: rem(28px);
        position: relative;
    }

    &__col {
        &--main {
            margin-bottom: rem(17px);
            order: -3;
        }

        &--menu {
            order: -2;
            margin-bottom: rem(25px);
        }

        &--social {
            margin-top: rem(23px);
            margin-bottom: rem(34px);
        }

        &--form {
            order: -1;
            margin-bottom: rem(24px);
        }
    }

    &__logo {
        &-img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: rem(37px);
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include font($font-size-lg, $line-height-base);
    }

    &__menu {
        @include list-unstyled;
        @include font($font-size-lg, $line-height-lg);

        &-item {
            margin-bottom: .5em;
        }

        &-link {
            color: inherit;
            text-decoration: none;

            @include hover-focus {
                color: inherit;
                text-decoration: underline;
            }
        }
    }

    &__form {
        margin-left: rem(- $gutter-xs);
        margin-right: rem(- $gutter-xs);
        padding: rem(26px $gutter-xs 27px);
    }

    &__button-top {
        position: absolute;
        top: rem(-18px);
        left: 50%;
        transform: translateX(-50%) rotate(-90deg);
        @include size(rem(54px));
        @include rounded;
        border: 1px solid $primary;
        background-color: $white;
        color: $primary;
        font-size: rem(25px);
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        @include hover-focus {
            background-color: $primary;
            color: $white;
        }
    }

   @include media-breakpoint-up(xl) {
       text-align: left;

       &__container {
           padding-top: 0;
           padding-bottom: 0;
       }

       &__col {
           &--main {
               margin-top: rem(37px);
               margin-bottom: 0;
               order: initial;
               max-width: rem(332px);
           }

           &--menu {
               margin: rem(44px) auto 0;
               left: rem(10px);
               order: initial;
               max-width: rem(450px);
               flex: 2;
           }

           &--social {
               margin-top: rem(44px);
               margin-bottom: 0;
               max-width: rem(228px);
               flex: 1;
           }

           &--form {
               margin-bottom: 0;
               order: initial;
               max-width: rem(332px);
           }
       }

       &__logo {
           &-img {
               margin-left: 0;
           }
       }

       &__contacts {
           align-items: flex-start;
           @include font($font-size-base, $line-height-base);
           margin-top: rem(20px);
       }

       &__copyright {
           margin-top: rem(44px);
       }

       &__menu {
           @include font($font-size-sm, $line-height-sm);
           columns: 2;
           column-gap: rem($gutter-xs);

           &-item {
               margin-bottom: 0;
           }
       }

       &__form {
           margin-left: 0;
           margin-right: 0;
           padding-left: rem(26px);
           padding-right: rem(26px);
           padding-bottom: rem(21px);
       }

       &__button-top {
           top: rem(-32px);
           left: 95%;
           transform: rotate(-90deg);
       }
   }

   @include media-breakpoint-up(3xl) {
       &__button-top {
           left: 100%;
       }
   }

   @include media-breakpoint-up(4xl) {
       &__button-top {
           left: 104%;
       }
   }
}