.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $white;
        content: '';
        z-index: -1;
    }

    &__row {
        flex-wrap: nowrap;
    }

    &__col {
        position: static;
        height: auto;

        &--toggle,
        &--session {
            flex: 0 0 rem(83px);
        }

        &--session {
            text-align: right;
        }

        &--search {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: $primary;

            .mobile-menu-is-visible & {
                opacity: 0;
            }
        }
    }

    &__main {
        padding-top: rem(13px);
        padding-bottom: rem(13px);
    }

    &__nav-toggle {
        margin-left: -$hamburger-padding-x;
    }

    &__logo {
        &-img {
            display: block;
            max-height: rem(23px);
            width: auto;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include font($font-size-lg, $line-height-base);
    }

    &__search {
        padding: rem(5px $gutter-xs / 2);
    }

    &__session-menu {
        .mobile-menu-is-visible & {
            display: none;
        }
    }

    &__subnav-toggle {
        display: none;
        font-size: rem(19px);
        top: -2px;
        margin-right: rem(-4px);
        cursor: pointer;

        .subnav-is-visible & {
            display: block;
        }
    }

    &__navbar {
        display: none;
    }

    &__categories {
        display: none;
    }

    @include media-breakpoint-up(xl) {
        &__col {
            &--toggle {
                display: none;
            }

            &--logo {
                margin-right: auto;
            }

            &--contacts {
                margin-left: auto;
                margin-right: auto;
            }

            &--search {
                position: relative;
                top: auto;
                background: none;
                max-width: rem(561px);
                flex: 0 0 25%;
                margin-left: auto;

                .mobile-menu-is-visible & {
                    opacity: 1;
                }
            }

            &--session {
                max-width: rem(402px);
                flex: 0 0 rem(402px);
                text-align: left;
            }
        }

        &__main {
            padding-top: rem(20px);
            padding-bottom: rem(22px);
        }

        &__logo {
            &-img {
                max-height: rem(37px);
            }
        }

        &__contacts {
            align-items: flex-start;
            @include font($font-size-base, $line-height-base);
        }

        &__navbar {
            display: block;
            position: relative;
            background-color: $primary;
            color: $white;
        }

        &__search {
            padding: 0;
        }
    }

    @include media-breakpoint-up(2xl) {
        position: relative;

        &__col {
            &--search {
                flex: 0 0 50%;
            }
        }

        &__categories {
            display: block;
            transition: all .25s ease-in-out;

            .header-is-scrolled & {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                animation: fadeIn .25s ease-in;
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}