.main {
    overflow: hidden;
    padding-top: rem($header-height-xs);

    @include media-breakpoint-up(md) {
        flex: 1;
    }

    @include media-breakpoint-up(xl) {
        display: flex;
        flex-direction: column;
        padding-top: rem($header-height-xl);
    }

    @include media-breakpoint-up(2xl) {
        padding-top: 0;

        .header-is-scrolled & {
            padding-top: rem($header-height-2xl - $header-height-xl);
        }
    }
}