.mobile-menu {
    position: fixed;
    top: rem(60px);
    max-height: calc(100vh - 60px);
    left: 0;
    right: 0;
    z-index: -2;
    background-color: $white;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    transition: .3s ease-in-out;
    transform: translateY(-100%);

    &.is-visible {
        visibility: visible;
        transform: translateY(0);
    }

    &__nav {
        padding-top: rem(7px);
        padding-bottom: rem(13px);
    }

    &__footer {
        border-top: 1px solid $base-color;
        padding-top: rem(20px);
        padding-bottom: rem(23px);

        .subnav-is-visible & {
            display: none;
        }
    }

    .session-menu {
        margin-bottom: rem(19px);
    }

    @include media-breakpoint-up(xl) {
        display: none;
    }
}