.nav {
    @include list-unstyled;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__item {
        &.is-active {
            .nav__link {
                display: none;
            }

            .nav__subnav {
                display: block;
            }
        }
    }

    &__link {
        display: block;
        color: inherit;
        text-decoration: none;
        text-align: center;
        padding-top: rem(4px);
        padding-bottom: rem(5px);
        @include font($font-size-lg, $line-height-lg);
        letter-spacing: -0.04em;

        @include hover-focus {
        }
    }

    &__icon {
        display: none;
    }

    &__toggle-icon {
        font-size: rem(11px);
        top: -1px;
    }

    &__subnav {
        display: none;
    }

    @include media-breakpoint-up(xl) {
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        margin-left: rem(-12px);
        margin-right: rem(-12px);

        &__item {
            padding-left: rem(12px);
            padding-right: rem(12px);

            @include hover-focus {
                .nav__subnav {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &__link {
            display: flex;
            align-items: center;
            color: inherit;
            text-decoration: none;
            padding: rem(8px 10px 13px);
            height: 100%;
            @include font($font-size-base, $line-height-base);

            @include hover-focus {
                background-color: rgba($base-color, .3);
            }
        }

        &__icon {
            display: block;
            font-size: rem(29px);
            margin-right: rem(16px);
        }

        &__toggle-icon {
            display: none;
        }

        &__subnav {
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: $white;
            padding-top: rem(22px);
            padding-bottom: rem(42px);
            opacity: 0;
            visibility: hidden;
            transition: .25s ease-in-out;
            z-index: 10;
        }
    }
}