.search {
    color: $base-color;
    position: relative;

    .form__group {
        margin-bottom: 0;
    }

    &__results {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border: 1px solid $input-border-color;
        border-top-width: 0;
        background-color: $white;
        z-index: 1;

        &-item {
            border-bottom: 1px solid $input-border-color;
            padding-top: rem(16px);
            padding-bottom: rem(22px);

            &:last-child {
                border-bottom-width: 0;
            }
        }
    }
}