.session-menu {
    @include list-unstyled;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: rem(-5px);
    margin-right: rem(-5px);

    .mobile-menu & {
        flex-direction: column;
        justify-content: center;
    }

    &__item {
        @include font($font-size-sm, $line-height-2xs);
        letter-spacing: -0.02em;
        padding-left: rem(5px);
        padding-right: rem(5px);

        .mobile-menu & {
            @include font($font-size-lg, $line-height-lg);
            letter-spacing: 0;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        position: relative;
        color: inherit;
        text-decoration: none;

        @include hover-focus {
            .quick-menu__icon {
                color: $primary;
            }
        }
    }

    &__icon {
        font-size: rem(25px);
        flex: 0 0 rem(25px);

        .mobile-menu & {
            top: -3px;
        }

        &.icon-user {
            font-size: rem(19px);
            flex: 0 0 rem(19px);
        }
    }

    &__text {
        display: none;
        text-decoration: underline;

        .mobile-menu & {
            display: block;
        }
    }

    @include media-breakpoint-up(xl) {
        margin-left: rem(-11px);
        margin-right: rem(-11px);

        &__item {
            padding-left: rem(11px);
            padding-right: rem(11px);
            overflow: hidden;

            &:first-child {
                flex: 1;
            }
        }

        &__link {
            justify-content: flex-end;
        }

        &__icon {
            margin-right: rem(10px);
            font-size: rem(27px);
            flex: 0 0 rem(27px);

            &.icon-user {
                font-size: rem(19px);
                flex: 0 0 rem(19px);
            }
        }

        &__text {
            display: block;

            &--name {
                @include text-truncate();
                max-width: 100%;
            }
        }
    }
}