.subnav {
    text-align: center;

    &__title {
        font-weight: $font-weight-bold;
        margin-bottom: rem(6px);

        &-link {
            text-decoration: none;

            @include hover-focus {
                text-decoration: underline;
            }
        }
    }

    &__list {
        @include list-unstyled;
        margin-top: rem(10px);
        margin-bottom: rem(12px);

        .is-collapsed & {
            display: none;
        }
    }

    &__link {
        color: $black;
        text-decoration: none;

        @include hover-focus {
            color: $primary;
            text-decoration: underline;
        }
    }

    @include media-breakpoint-up(xl) {
        @include font($font-size-sm, $line-height-sm);
        text-align: left;

        &__title {
            margin-bottom: rem(4px);
        }

        &__list {
            margin-top: 0;
            margin-bottom: 0;

            .is-collapsed & {
                display: block;
            }
        }
    }
}