.basket-item {
    letter-spacing: -.04em;

    &__picture {
       display: flex;
       align-items: center;
       justify-content: center;
       @include size(rem(160px));
       padding: rem(22px);
       margin-left: auto;
       margin-right: auto;
       margin-bottom: rem(13px);
       border: 1px solid $gray-3;
       border-radius: 16px;
    }

    &__img {
        display: block;
    }

    &__header {
        @include em-line-height($font-size-base, $line-height-md);
        margin-bottom: rem(16px);
    }

    &__title {
        &-link {
            color: inherit;
            text-decoration: none;

            @include hover-focus {
                color: $primary;
            }
        }
    }

    &__price {
        @include em-line-height($font-size-base, $line-height-md);
        font-weight: $font-weight-bold;
        margin-bottom: rem(3px);
    }

    &__info {
        margin-bottom: rem(1px);
    }

    &__amount {
        @include font($font-size-sm, $line-height-sm);
        margin-bottom: rem(5px);
    }

    &__sum {
        @include font($font-size-h3, $line-height-h3, $font-weight-bold);
    }

    &__action {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: rem(31px);
    }

    &__button + &__button {
        margin-top: rem(16px);
    }

    @include media-breakpoint-up(lg) {
        display: flex;
        align-items: flex-start;

        &__picture {
           @include size(rem(200px));
           flex: 0 0 rem(200px);
           margin: rem(5px $gutter-xl) 0 0;
           border-radius: $border-radius-lg;
        }

        &__header {
            margin-bottom: rem(22px);
        }

        &__title {
            margin-bottom: rem(1px);
        }

        &__info {
            @include font($font-size-sm, $line-height-sm);
        }

        &__action {
            align-items: flex-start;
            margin-top: rem(35px);
        }
    }
}