.brand-card {
    display: block;
    height: 100%;
    background-color: $white;
    border: 1px solid $gray-5;
    border-radius: $border-radius-lg;
    box-shadow: 0 6px 32px rgba($gray-4, 0.75);
    width: rem(270px);
    color: $base-color;
    text-decoration: none;
    letter-spacing: -.04em;

    &__picture {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid $gray-3;
        height: rem(130px);
    }

    &__img {
        display: block;
    }

    &__content {
        padding: rem(20px 25px 28px);
    }

    &__title {
        @include font($font-size-h3, $line-height-h3);
        min-height: rem($line-height-h3 * 2);
        margin-bottom: rem(11px);
    }

    &__text {
        @include font($font-size-md, $line-height-md);
    }

    @include hover-focus {
        color: $base-color;

        .brand-card__title {
            color: $primary;
        }
    }

    @include media-breakpoint-up(md) {
    }
}