.breadcrumb {
    display: flex;
    justify-content: space-between;
    color: $gray-7;
    @include font($font-size-2xs, $line-height-2xs);
    letter-spacing: -.04em;

    &__list {
        @include list-unstyled;
    }

    &__item {
        display: inline;

        &:after {
            content: ">";
            margin-left: rem(7px);
            margin-right: rem(3px);
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }

    &__link {
        color: inherit;

        @include hover-focus {
            color: $link-color;
        }
    }

    &__back-link {
        color: $base-color;
        text-decoration: none;
        font-size: rem(17px);
        margin-left: rem(15px);
    }

    @include media-breakpoint-up(lg) {
        @include font($font-size-sm, $line-height-sm);
    }
}