//
// Base styles
//

button,
.button {
    position:relative;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    user-select: none;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background: none;
    outline: 0;
    border: 0;
    padding: 0;
    transition: all 0.25s ease-in-out;

    @include hover-focus {
        text-decoration: none;
        outline: 0;
    }

    &,
    &:active,
    &.active {
        &:focus,
        &.focus {
            @include tab-focus();
            outline: 0;
        }
    }
    &.focus {
        text-decoration: none;
    }

    &:active,
    &.active {
        outline: 0;
    }

    &.disabled,
    &:disabled {
        cursor: $cursor-disabled;
        pointer-events: none;
    }
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: $btn-border-width solid;
    border-radius: $btn-border-radius;
    height: rem($btn-height);
    padding: rem($btn-padding-y $btn-padding-x);
    @include font($btn-font-size, $btn-line-height, $btn-font-weight, $btn-font-family);
    min-width: rem(200px);

    &__icon {
        font-size: rem($btn-icon-size);
        margin-right: rem($spacer-2);
        top: -1px;

        &:only-child {
            margin-right: 0;
        }
    }

    @include button-variants();
}

// Future-proof disabling of clicks on `<a>` elements
a.button.disabled,
a.button.is-disabled,
fieldset[disabled] a.button {
    pointer-events: none;
}

//
// Block button
//

.button--block {
    width: 100%;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
    &.button_block {
        width: 100%;
    }
}