.catalog-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    background-color: $white;
    border-radius: $border-radius-lg;
    box-shadow: 0 6px 32px rgba($gray-4, 0.75);
    width: rem(270px);
    color: $base-color;

    &__picture {
       position: relative;
       display: flex;
       align-items: center;
       justify-content: center;
       height: rem(215px);
       border-bottom: 1px solid $gray-3;
    }

    &__img {
        @extend %cover-image;
    }

    &__body {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: rem(20px 22px 33px 26px);
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-bottom: rem(19px);
    }

    &__title {
        margin-bottom: rem(13px);
        min-height: 2.33em;
        letter-spacing: -.04em;

        &-link {
            color: inherit;
            text-decoration: none;
        }
    }

    &__text {
        @include font($font-size-md, $line-height-md);
        margin-top: auto;
        flex: 1;

        p {
            @include margin-bottom(rem(12px));
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__download {
        @include font($font-size-sm, $line-height-sm);
        letter-spacing: -.04em;
        margin-top: rem(23px);

        &-icon {
            font-size: rem(22px);
            margin-right: rem(7px);
            vertical-align: text-bottom;
            top: -2px;
        }
    }
}