.comment {
    letter-spacing: -.04em;

    &__header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding-left: rem(60px);
        min-height: rem(40px);
        margin-bottom: rem(20px);
    }

    &__avatar {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        margin-top: rem(-3px);
        display: flex;
        align-items: center;
        justify-content: center;
        @include size(rem(40px));
        @include rounded;
        background-color: $pink-2;
        color: $gray-3;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
    }

    &__name {
        font-weight: $font-weight-bold;
        margin-bottom: rem(1px);
    }

    &__date {
        width: 100%;
        order: 10;
        color: $gray-8;
        @include font($font-size-sm, $line-height-base);
    }

    &__rating-stars {
        margin-top: rem(-4px);
    }

    &__body {
        @include em-line-height($font-size-base, $line-height-md);

        p {
            @include margin-bottom(rem($line-height-md));
        }
    }

    @include media-breakpoint-up(md) {
        &__header {
            margin-bottom: rem(3px);
        }

        &__name {
            flex: 1;
            margin-bottom: rem(2px);
            margin-right: rem(16px);
        }

        &__date {
            width: auto;
            order: initial;
            margin-right: rem(16px);
        }

        &__rating-stars {
            margin-top: rem(-8px);
        }

        &__body {
            padding-left: rem(60px);
            @include font($font-size-sm, $line-height-2xs);

            p {
                margin-bottom: rem($line-height-2xs);
            }
        }
    }
}