.comments {
    &__list {
        margin-bottom: rem(-52px);
    }

    &__item {
        margin-bottom: rem(52px);
    }

    &__action {
        text-align: center;
        margin-top: rem(46px);
    }

    @include media-breakpoint-up(md) {
        &__list {
            margin-bottom: rem(-47px);
        }

        &__item {
            margin-bottom: rem(47px);
        }
    }

    @include media-breakpoint-up(lg) {
        &__item {
            &.hidden {
                display: block;
            }
        }

        &__action {
            display: none;
        }
    }
}