.dealer-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    background-color: $white;
    border-radius: $border-radius-lg;
    border: 1px solid $gray-5;
    box-shadow: 0 6px 32px rgba($gray-4, 0.75);
    width: rem(270px);
    color: $base-color;
    padding: rem(30px 26px 41px);
    letter-spacing: -.04em;
    @include font($font-size-md, $line-height-md);
    transition: .25s ease-in-out;
    cursor: pointer;

    &__title {
        @include font($font-size-h3, $line-height-h3);
        margin-bottom: rem(32px);

        &-link {
            color: inherit;
            text-decoration: none;
        }
    }

    &__address {
        margin-bottom: rem(21px);
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: auto;
    }

    &__contact {
        display: flex;
        align-items: center;
        text-decoration: none;

        &-icon {
            color: $primary;
            margin-right: rem(10px);
        }

        &-text {
            text-decoration: underline;
        }
    }

    &__button {
        display: block;
        margin-top: rem(33px);
        margin-left: auto;
        margin-right: auto;
    }

    @include hover-focus {
        border-color: $primary;
    }

    &--popup {
        border-radius: 0;
        border: 0;
        box-shadow: none;
        width: auto;
        padding: 0;
        cursor: default;
    }

    &--popup & {
        &__title {
            margin-bottom: rem(7px);
        }
    }
}