.details {
    &__item {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include margin-bottom(rem(4px));

        &:after {
            display: block;
            content: '';
            border-top: 2px dotted $base-color;
            flex: 1;
            margin-top: 1em;
        }
    }

    &__label {
        padding-right: rem(4px);
        font-weight: $font-weight-bold;
    }

    &__data {
        padding-left: rem(4px);
        text-align: right;
        order: 10;
    }

    @include media-breakpoint-up(lg) {
        @include font($font-size-base, $line-height-base);
        display: table;

        &__item {
            display: table-row;

            &:after {
                display: none;
            }

            &:last-child {
                .details__label,
                .details__data {
                    padding-bottom: 0;
                }
            }
        }

        &__label,
        &__data {
            display: table-cell;
            padding-bottom: rem(4px);
        }

        &__label {
            width: rem(256px);
            overflow: hidden;
            position: relative;

            &:after {
                content: " .............................................................................................................................................................................. ";
                position: absolute;
                padding-left: rem(4px);
                font-size: .85em;
                margin-top: .2em;
            }
        }

        &__data {
            width: calc(100% - 256px);
            text-align: left;
            white-space: nowrap;
        }

        &--columns {
            display: block;
            columns: 2;
            column-gap: rem(10px);
        }

        &--columns & {
            &__label {
            }
        }
    }
}