.filter {
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        margin-bottom: rem(13px);
        @include font($font-size-h3, $line-height-base, $font-weight-bold);

        .filter.is-collapsed & {
            margin-bottom: 0;
        }

        .filter--collapsible & {
            &:after {
                font-size: rem(12px);
                transform: rotate(-180deg);
                transition: transform .25s linear;
            }
        }

        .filter.filter--collapsible.is-collapsed & {
            &:after {
                transform: rotate(0);
            }
        }
    }

    &__body {
        .filter.is-collapsed & {
            display: none;
        }
    }

    &__slider {
        &-controls {
            display: flex;
            align-items: center;
            @include font($font-size-lg, $line-height-base);

            .form__input {
                padding: rem(2px 5px);
                margin-left: rem(7px);
                margin-right: rem(20px);
                text-align: center;
                width: rem(95px);
                height: rem(30px);
                @include font($font-size-lg, $line-height-base);

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &-range {
            margin-top: rem(20px);
            margin-bottom: rem(6px);
        }
    }

    &__list {
        @include list-unstyled;
        margin-bottom: rem(-6px);

        &--colors {
            @include make-row(rem(8px));
            margin-bottom: rem(-8px);
        }
    }

    &__item {
        margin-bottom: rem(6px);

        &--color {
            @include make-col(rem(8px));
            margin-bottom: rem(8px);
        }
    }

    &__action {
        @include font($font-size-h3, $line-height-base);
        padding-left: rem(22px);
        margin-top: rem(12px);
    }

    @include media-breakpoint-up(xl) {
        &__title {
            @include font($font-size-base, $line-height-base);
            margin-bottom: rem(17px);
        }

        &__slider {
            &-controls {
                @include font($font-size-sm, $line-height-sm);
                margin-top: rem(-5px);

                .form__input {
                    @include font($font-size-sm, $line-height-sm);
                    margin-left: rem(13px);
                    width: rem(63px);
                }
            }
        }

        &__action {
            @include font($font-size-sm, $line-height-xs);
            padding-left: rem(22px);
        }
    }
}