.item-card {
    display: flex;
    flex-direction: column;
    position: relative;
    text-decoration: none;
    height: 100%;
    background-color: $white;
    border-radius: $border-radius-lg;
    box-shadow: 0 6px 32px rgba($gray-4, 0.75);
    width: rem(270px);
    color: $base-color;

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        border: 1px solid $primary;
        border-radius: $border-radius-lg;
        opacity: 0;
        pointer-events: none;
        z-index: 1;
        transition: opacity .25s ease-in-out;
    }

    &__stickers {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    &__picture {
       position: relative;
       display: flex;
       align-items: center;
       justify-content: center;
       height: rem(215px);
       border-bottom: 1px solid $gray-3;
    }

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 100%;
        width: auto;
        opacity: 1;
        transition: opacity .25s ease-in-out;

        &--hover {
            opacity: 0;
        }
    }

    &__options {
        position: absolute;
        left: rem(14px);
        bottom: rem(13px);
    }

    &__option {
        display: block;
        font-size: rem(23px);
        margin-top: rem(5px);
        text-align: center;

        &.icon-360 {
            font-size: rem(31px);
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: rem(21px 22px 0 26px);
    }

    &__title {
        font-weight: $font-weight-normal;
        @include em-line-height($font-size-h4, $line-height-md);
        margin-bottom: rem(7px);
        letter-spacing: -.04em;

        &-link {
            color: inherit;
            text-decoration: none;

            @include hover-focus {
                color: $primary;
            }
        }
    }

    &__info {
        @include em-line-height($font-size-base, $line-height-md);
        margin-bottom: rem(11px);
    }

    &__availability {
        margin-bottom: rem(12px);
        letter-spacing: -.034em;
    }

    &__footer {
        padding: rem(0 22px 29px 26px);

        .is-session & {
            padding-bottom: rem(33px);
        }
    }

    &__pricebar {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
        margin-bottom: rem(16px);

        .is-session & {
            margin-bottom: rem(27px);
        }
    }

    &__prices {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__price {
        margin-bottom: 0;
        white-space: nowrap;
    }

    &__price-old {
        display: inline-block;
        position: relative;
        @include font($font-size-sm, $line-height-sm, $font-weight-bold);
        margin-top: rem(10px);

        &:after {
            position: absolute;
            top: 50%;
            left: rem(-6px);
            right: rem(-6px);
            content: '';
            border-top: 1px solid $primary;
            transform: translateY(-50%) rotate(-7deg);
        }
    }

    &__note {
        @include font($font-size-2xs, 14.01px);
        margin-top: rem(4px);
        letter-spacing: -0.04em;
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        min-width: rem(85px);
        height: rem(40px);
    }

    &__link {
        @include font($font-size-sm, $line-height-sm);

        &-icon {
            font-size: rem(20px);
            margin-right: rem(7px);
            vertical-align: text-bottom;
            top: -1px;
        }
    }

    @include hover-focus {
        &:after {
            opacity: 1;
        }

        .item-card__img {
            &--default {
                opacity: 0;
            }

            &--hover {
                opacity: 1;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &--horizontal {
            flex-direction: row;
            width: auto;

            .amount-form__note {
                margin-top: rem(26px);
            }
        }

        &--horizontal & {
            &__picture {
                height: 100%;
                min-height: rem(214px);
                width: rem(258px);
                flex: 0 0 rem(258px);
                border-bottom-width: 0;
                border-right: 1px solid $gray-3;
            }

            &__body {
                display: flex;
                flex-direction: column;
                flex: 1;
                padding: rem(19px 49px 26px 24px);

                .is-session & {
                    padding-bottom: rem(34px);
                }
            }

            &__title {
                @include font($font-size-md, $line-height-md);
                max-width: 14em;
            }

            &__info {
                @include font($font-size-sm, $line-height-sm);
                @include margin-bottom(0);
            }

            &__info + .item-card__info {
                margin-top: auto;
            }

            &__availability {
                @include font($font-size-xs, $line-height-xs);
                margin-bottom: 0;
            }

            &__footer {
                max-width: rem(240px);
                flex: 0 0 rem(240px);
                padding: rem(23px 37px 23px 0);
            }

            &__pricebar {
                display: block;
                margin-bottom: rem(26px);

                .is-session & {
                    margin-bottom: rem(10px);
                }
            }

            &__prices + .item-card__prices {
                margin-top: rem(12px);
            }

            &__note {
                .is-session & {
                    margin-top: 0;
                }
            }
        }
    }
}