.map-popup {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $white;
    border-radius: $border-radius-lg;
    border: 1px solid $primary;
    width: rem(230px);
    padding: rem(27px 25px 24px);

    &__arrow {
        position: absolute;
        top: 100%;
        left: rem(26px);
        @include size(0);
        border-width: 24px 11px 0 0;
        border-color: $primary transparent transparent transparent;
        border-style: solid;

        &:before {
            content: '';
            position: absolute;
            top: -24px;
            left: 1px;
            @include size(0);
            border-width: 21px 9px 0 0;
            border-color: $white transparent transparent transparent;
            border-style: solid;
        }
    }
}