.menu-list {
    @include list-unstyled;
    @include em-line-height($font-size-base, 28.01px);
    letter-spacing: -.04em;

    &__link {
        &.is-active {
            color: $base-color;
        }
    }

    @include media-breakpoint-up(xl) {
        @include font($font-size-md, $line-height-md);

        &__link {
            color: $base-color;

            &.is-active {
                color: $primary;
            }
        }
    }
}