.mini-cart-item {
    display: flex;
    align-items: center;
    color: $base-color;
    text-decoration: none;

    &__picture {
       display: flex;
       align-items: center;
       justify-content: center;
       max-width: rem(68px);
       flex: 0 0 rem(68px);
       padding-left: rem(6px);
       padding-right: rem(6px);
       margin-right: rem(21px);
    }

    &__img {
        display: block;
    }

    &__body {
        flex: 1;
        letter-spacing: -.04em;
        @include font($font-size-xs, $line-height-xs);
    }

    &__price {
        @include font($font-size-base, $font-size-base, $font-weight-bold);
        margin-bottom: rem(6px);
    }

    &__title {
        margin-bottom: rem(3px);
    }

    &__info {
        margin-bottom: rem(1px);
    }

    &__amount {
        @include font($font-size-sm, $line-height-sm);
    }

    @include hover-focus {
        .mini-cart-item__title {
            color: $primary;
        }
    }

    @include media-breakpoint-up(lg) {
    }
}