.modal {
    position: relative;
    max-height: 100%;
    max-width: rem(540px);
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: $white;
    border-radius: $border-radius-lg;
    padding: rem(26px 25px 38px);

    &--cart {
        max-width: rem(320px);
        padding-top: 0;
        padding-bottom: 0;

        .mfp-close {
            display: none;
        }
    }

    @include media-breakpoint-up(lg) {
        padding: rem(26px 70px 38px);

        &--cart {
            max-width: rem(1170px);
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}