.news-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-decoration: none;
    height: 100%;
    background-color: $white;
    border-radius: $border-radius-lg;
    box-shadow: 0 6px 32px 0px rgba($gray-4, 0.75);
    width: rem(270px);
    color: $base-color;

    &__picture {
        @include aspect-ratio-block(272/214);
    }

    &__img {
        @extend %cover-image;
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: rem(20px 25px 48px);
    }

    &__title {
        margin-bottom: rem(10px);
    }

    &__text {
        @include font($font-size-md, $line-height-md);
        margin-bottom: auto;
    }

    &__more {
        margin-top: rem(21px);
        @include font($font-size-sm, $line-height-sm);
        color: $primary;
        text-decoration: underline;
    }

    @include hover-focus {
        color: $base-color;
    }

    @include media-breakpoint-up(md) {
    }
}