.option {
    position: relative;
    display: block;
    cursor: pointer;
    transition: 0.25s ease-in-out;
    height: 100%;

    &__input {
        position: absolute;
        z-index: -1; // Put the input behind the label so it doesn't overlay text
        opacity: 0;
    }

    &__input:checked ~ &__image,
    &__input:active ~ &__image {
        border-color: $primary;
    }

    &__image {
        display: block;
        position: relative;
        overflow: hidden;
        @include size(rem(50px));
        border: 1px solid $gray-3;
        border-radius: $border-radius-md;

        &-img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-height: 100%;
            width: auto;
        }

        @include hover-focus {
            border-color: $primary;
        }
    }

    @include media-breakpoint-up(lg) {
    }
}