.options {
    &__label {
        margin-bottom: rem(16px);
    }

    &__list {
        @include list-unstyled;
        @include make-row(5px);
    }

    &__item {
        @include make-col(5px);
        margin-bottom: rem(5px);
    }

    &--image & {
        &__list {
            margin-left: rem(-2px);
            margin-right: rem(-3px);
        }

        &__item {
            padding-left: rem(2px);
            padding-right: rem(3px);
        }
    }

    @include media-breakpoint-up(sm) {
        &--image {
            display: flex;
            align-items: center;
        }

        &--image & {
            &__label {
                margin-bottom: rem(5px);
                margin-right: rem(12px);
            }
        }
    }
}
