.pagination {
    @include font($font-size-sm, $line-height-sm, $font-weight-bold);

    &__list {
        @include list-unstyled;
        @include make-row(rem(6px));
        justify-content: center;
    }

    &__item {
        @include make-col(rem(6px));
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $gray-7;
        border-radius: 5px;
        @include size(rem(40px));
        text-decoration: none;
        color: $gray-7;

        &.is-selected {
            color: $primary;
            border-color: $primary;
        }

        @include hover-focus {
            color: $white;
            border-color: $primary;
            background-color: $primary;
        }

        &--control {
            color: $white;
            border-color: $gray-9;
            background-color: $gray-9;
            font-size: rem(19px);

            &.icon-prev {
                padding-right: rem(2px);
            }

            &.icon-next {
                padding-left: rem(2px);
            }
        }
    }

    &--start & {
        &__list {
            justify-content: flex-start;
        }
    }

    @include media-breakpoint-up(lg) {
        @include font($font-size-h3, $line-height-h3);

        &__list {
            margin-left: rem(-4px);
            margin-right: rem(-5px);
        }

        &__item {
            padding-left: rem(4px);
            padding-right: rem(5px);
        }

        &__link {
            @include size(rem(48px));

            &--control {
                font-size: rem(23px);

                &.icon-prev {
                    padding-right: rem(4px);
                }

                &.icon-next {
                    padding-left: rem(4px);
                }
            }
        }
    }
}
