.rating-stars {
    position: relative;
    display: flex;

    &__input {
        padding: 0;
        margin: 0;
        opacity: 0;
        position: relative;
    }

    &__star,
    &__input {
        font-size: rem(14px);
        line-height: 1;
        @include size(rem(14px));
    }

    &__star {
        display: block;
        color: $yellow-2;
        transition: color .25s ease-in-out;
        margin-right: 2px;

        &:before {
            content: "\e91a";
        }

        .rating-stars:not(.rating-stars--form) &:last-child {
            margin-right: 0;
        }
    }

    &__input {
        margin-left: rem(-14px);
    }

    &[data-rate="5"] &__star,
    &[data-rate="1"] &__star:nth-child(-n+1),
    &[data-rate="2"] &__star:nth-child(-n+2),
    &[data-rate="3"] &__star:nth-child(-n+3),
    &[data-rate="4"] &__star:nth-child(-n+4) {
        color: $yellow-2;

        &:before {
            content: "\e91b";
        }
    }

    &--form {
        flex-direction: row-reverse;
        justify-content: flex-end;

        &:hover .rating-stars__star:hover,
        &:hover .rating-stars__star:hover ~ .rating-stars__star,
        .rating-stars__input:checked ~ .rating-stars__star {
            color: $yellow-2;

            &:before {
                content: "\e91b";
            }
        }
    }

    &--form & {
        &__star {
            cursor: pointer;
        }

        &__star,
        &__input {
            font-size: rem(24px);
            @include size(rem(24px));
        }

        &__input {
            margin-left: rem(-24px);
        }
    }

    @include media-breakpoint-up(xl) {
        &--form & {
            &__star,
            &__input {
                font-size: rem(14px);
                @include size(rem(14px));
            }

            &__input {
                margin-left: rem(-14px);
            }
        }
    }
}