.search-card {
    display: flex;
    align-items: center;

    &__picture {
       display: flex;
       align-items: center;
       justify-content: center;
       max-width: rem(97px);
       flex: 0 0 rem(97px);
       padding-left: rem(22px);
       padding-right: rem(22px);
    }

    &__img {
        display: block;
    }

    &__body {
        letter-spacing: -.04em;
        @include font($font-size-xs, 15.01px);
        padding-left: rem(8px);
        padding-right: rem(20px);
    }

    &__price {
        @include font($font-size-base, $font-size-base, $font-weight-bold);
        margin-bottom: rem(7px);
    }

    &__title {
        &-link {
            color: inherit;
            text-decoration: none;
        }
    }

    &__info {
        font-weight: $font-weight-bold;
        margin-top: rem(6px);
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        max-width: rem(245px);
        flex: 0 0 rem(245px);
        padding-left: rem(20px);
        padding-right: rem(20px);
    }

    &__button {
        min-width: rem(85px);
        height: rem(40px);
    }

    @include media-breakpoint-up(lg) {
    }
}