.social {
    &__list {
        @include list-unstyled;
        @include make-row(rem(8px));
    }

    &__item {
        @include make-col(rem(8px));
    }

    &__link {
        display: block;
        text-decoration: none;
        color: inherit;
        font-size: rem(28px);

        @include hover-focus {
            color: $primary;
        }
    }

    &--md & {
        &__list {
            margin-left: rem(-3px);
            margin-right: rem(-3px);
        }

        &__item {
            padding-left: rem(3px);
            padding-right: rem(3px);
        }

        &__link {
            font-size: rem(21px);
        }
    }

    &--footer {
        display: block;
    }

    &--footer & {
        &__label {
            @include font($font-size-lg, $line-height-lg);
            margin-bottom: rem(12px);
        }

        &__list {
            justify-content: center;
        }
    }

    @include media-breakpoint-up(xl) {
        &__list {
            margin-left: rem(-3px);
            margin-right: rem(-3px);
            justify-content: flex-start;
        }

        &__item {
            padding-left: rem(3px);
            padding-right: rem(3px);
        }

        &__link {
            font-size: rem(21px);
        }

        &--footer & {
            &__label {
                @include font($font-size-sm, $line-height-sm);
                margin-bottom: rem(10px);
            }

            &__list {
                justify-content: flex-start;
            }
        }
    }
}