.sticker {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: $border-radius-lg;
    border-bottom-left-radius: $border-radius-lg;
    min-width: rem(80px);
    height: rem(39px);
    white-space: nowrap;
    @include font($font-size-2xs, $line-height-2xs);
    color: $white;
    letter-spacing: -.034em;

    @each $key, $value in $sticker-colors {
        &--#{$key} {
            @include setProperty('background-color', $value, 'bg');
        }
    }

    &--out {
        color: $yellow;
        padding-left: rem(21px);
        padding-right: rem(21px);
        height: rem(37px);
    }
}