.tabs {
    &__list {
        @include list-unstyled;
    }

    &__link {
        display: block;
    }

    &__content {
        display: flex;
    }

    &__tab {
        opacity: 0;
        visibility: hidden;
        transition:all 0.25s ease-in-out;
        margin-right: -100%;
        width: 100%;
        height: 0;
        overflow: hidden;

        &.is-active {
            opacity: 1;
            visibility: visible;
            height: auto;
            overflow: visible;
        }
    }

    &--default & {
        &__list {
            display: flex;
            justify-content: space-between;
            margin-bottom: rem(25px);
        }

        &__item {
        }

        &__link {
            &.is-active {
                color: $base-color;
                text-decoration: none;
            }
        }
    }

    @include media-breakpoint-up(md) {
        &--default & {
            &__list {
                justify-content: flex-start;
                margin-left: rem(-5px);
                margin-right: rem(-5px);
            }

            &__item {
                padding-left: rem(5px);
                padding-right: rem(5px);
            }

            &__link {
                display: block;
                min-width: rem(150px);
                text-decoration: none;
                text-align: center;
                padding: rem(6px 6px 8px);

                &.is-active {
                    border: 1px solid $primary;
                    border-radius: $border-radius-xl;
                }
            }
        }
    }

    @include media-breakpoint-up(xl) {
    }
}