.text-block {
    h3 {
        &:not(:first-child) {
            margin-top: rem(12px);
        }
    }

    p,
    ol,
    ul,
    dl {
        @include margin-bottom(1.5em);
    }

    ol {
        padding-left: 2em;
    }

    ul:not([class]) {
        @include list-unstyled;
        margin-left: rem(17px);

        > li {
            position: relative;
            padding-left: rem(28px);

            &:before {
                position: absolute;
                top: .4375em;
                left: 0;
                content: '';
                @include size(rem(10px));
                @include rounded;
                background-color: $primary;
            }
        }
    }

    &--compact {
        p,
        ol,
        ul,
        dl {
            @include margin-bottom(.5em);
        }
    }

    @include media-breakpoint-up(lg) {
        ol {
            padding-left: 5.25em;
        }

        ul:not([class]) {
            margin-left: rem(71px);
        }
    }

    @include media-breakpoint-up(xl) {
    }
}