.value {
    display: flex;
    flex-direction: column;
    border: 1px solid $gray-5;
    color: $base-color;
    transition: .25s ease-in-out;

    &__picture {
        display: flex;
        align-items: center;
        justify-content: center;
        @include size(rem(74px));
        border: 1px solid $primary;
        border-top-right-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        box-shadow: 0 6px 32px rgba($gray-4, .75);
        margin-top: -1px;
        margin-left: -1px;
        color: $primary;
    }

    &__icon {
        display: block;
        @include size(rem(47px));
    }

    &__content {
        padding: rem(21px 24px 28px);
    }

    &__title {
        margin-bottom: rem(2px);
        @include font($font-size-h2, $line-height-h2);
    }

    &__text {
        @include em-line-height($font-size-base, 26.01px);
    }

    @include hover-focus {
        border-color: $primary;
        z-index: 2;
    }

    @include media-breakpoint-up(xl) {
        flex-direction: row;

        &__picture {
            @include size(rem(102px));
            flex: 0 0 rem(102px);
            border-top-right-radius: $border-radius-md;
            border-bottom-left-radius: $border-radius-md;
        }

        &__icon {
            @include size(rem(66px));
        }

        &__content {
            padding: rem(21px 35px 40px 27px);
        }

        &__title {
            margin-bottom: rem(3px);
            min-height: rem(85px);
            display: flex;
            align-items: flex-end;
        }

        &__text {
            @include em-line-height($font-size-base, $line-height-base);
        }
    }
}